{% extends 'en.base.html.twig' %}

{% block title%} Profile {% endblock %}

{% block body %}
 <h2>Profile</h2><hr>
 <h4>ℹ️ Profile Information:</h4><hr>
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Username: </b>{{ profile.username }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Role: </b>
   {% if profile.role == '' %}
    User
   {% elseif profile.role == 'super-user' %}
    Super user
   {% elseif profile.role == 'customer-admin' %}
   Customer admin
   {% endif %}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Join date: </b>{{ profile.joinedDateUk }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Name: </b>{{ profile.name }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Phone: </b>{{ profile.phone }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Street address: </b>{{ profile.address }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Zip code and city: </b>{{ profile.zip }} {{ profile.city }}
 </div>
 {% if profile.language == 'fi' %}

 <div class="row" style="height: 40px; padding-top: 10px;">
   <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/fin.png'); background-size: 20px 20px;
   background-repeat: no-repeat; background-position: right 2px;">Language: </b> Finnish
 </div>

 {% elseif profile.language == 'en' %}

 <div class="row" style="height: 40px; padding-top: 10px;">
   <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/uk.png'); background-size: 20px 20px;
   background-repeat: no-repeat; background-position: right 2px;">Language: </b> English
 </div>
 {% endif %}
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Email for contacting: </b>{{ profile.email }}
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/en/profile/update/info" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update profile</a>
 </div></div>

 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Change password</b>
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/en/profile/update/password" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Change password</a>
 </div></div>

<br>
 <h4>Properties:</h4><hr style="margin-top: 0px;">
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
 <div class="row" style="padding-top: 10px;">
   <b>Quantity of properties: </b>{{ properties|length }} kpl
 </div>
 <div class="row">
   <b>Property value combined: </b>{{ propertiesSummary.totalValue }}€
 </div>
 <div class="row">
   <b>Property area combined: </b>{{ propertiesSummary.totalAreaSum }} ha
 </div>
 <div class="row">
   <b>Patterns combined : </b>{{ propertiesSummary.totalSizeSum }} m³
 </div>
 <div class="row">
   <b>Total patterns: </b> {{ propertiesSummary.totalArticleQuantity }} patterns
 </div>
 <div class="row">
   <a href="/property" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show properties</a>
 </div></div>

 <br>
  <h4>Articles:</h4><hr style="margin-top: 0px;">
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
  <div class="row" style="padding-top: 10px;">
    <b>Total patterns: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
  </div>
  <div class="row">
    <b>Average pattern value: </b> 123
  </div>
  <div class="row">
    <b>Pattern average profit: </b> 123
  </div>
  <div class="row">
    <b>Average height: </b> 123
  </div>
  <div class="row">
     <a href="/article" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show articles</a>
  </div></div>
<br><br>
{% endblock %}
