{% extends 'en.base.html.twig' %}

{% block title%}Update Profile {% endblock %}

{% block body %}

  <h2>Profile update</h2>
  <hr>

  {% if data == "info" %}

  <form method="post">
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Username: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.username }}" readonly>
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Name: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.name }}" name="name">
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Phone: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.phone }}" name="phone">
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Street address: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.address }}" name="address">
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Zip code: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.zip }}" name="zip">
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>City: </b></label>
    <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="text" value="{{ profile.city }}" name="city">
  </div>
  <div class="row" style="padding-top: 10px;">
      <label style="width: 140px;"><b>Language: </b></label>
      <select class="form-control" style="padding-top: 2px; width: 280px; height: 32px; margin-bottom: 5px;" name="language">
      <option value="fi" {% if profile.language == 'fi' %} selected="selected" {% endif %}>Finnish</option>
      <option value="en" {% if profile.language == 'en' %} selected="selected" {% endif %}>English</option></select>
  </div>
  <div class="row" style="padding-top: 10px; display: block;">
      <label style="width: 135px;"><b>Email: </b></label>
      <input class="form-control col-md-3" style="margin-bottom: 5px; display: inline; height: 32px;" type="text" value="{{ profile.email }}" name="email">
      <small style="display: block; margin-bottom: 5px; margin-top: -7px; margin-left: 5px;">*This email will be used for contacting you.</small>
  </div>
  <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
  <button type="submit" class="btn btn-primary">Update</button>
  <a href="/{{ locale }}/profile/" class="btn btn-info" style="margin-left: 5px;">Cancel</a>
  </div></div>
</form>

{% else %}

<form method="post">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
<div class="row" style="padding-top: 10px;">
    <label style="width: 170px;"><b>Nykyinen salasana: </b></label>
  <input class="form-control col-md-3" style="margin-bottom: 5px; height: 32px;" type="password" value="" name="currentPassword" required autofocus>
</div>
<div class="row" style="padding-top: 10px;">
    <label style="width: 170px;"><b>Uusi salasana: </b></label>
  <input class="form-control col-md-3" pattern=".{8,}" required title="Salasanan minimipituus on 8 merkkiä" style="margin-bottom: 5px; height: 32px;" type="password" value="" name="newPassword1" required>
</div>
<div class="row" style="padding-top: 10px;">
    <label style="width: 170px;"><b>Toista uusi salasana: </b></label>
  <input class="form-control col-md-3" pattern=".{8,}" required title="Salasanan minimipituus on 8 merkkiä" style="margin-bottom: 5px; height: 32px;" type="password" value="" name="newPassword2" required>
</div>
<div class="row" style="padding-top: 10px; padding-bottom: 10px;">

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<button type="submit" class="btn btn-primary">Päivitä</button>
<a href="/{{ locale }}/profile/" class="btn btn-info" style="margin-left: 5px;">Peruuta</a>
</div></div>
</form>

{% endif %}


{# basic bootstrap form:
  <form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label><b>Tunnus:</b></label>
      <input type="text" value="{{ profile.username }}" class="form-control" readonly>
    </div>
    <div class="form-group col-md-3">
    </div>
  </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label><b>Puhelinnumero:</b></label>
        <input type="text" value="{{ profile.address }}" class="form-control" name="phone">
      </div>
      <div class="form-group col-md-3">
        <label><b>Katuosoite:</b></label>
        <input type="text" class="form-control" name="address">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label><b>Postinumero:</b></label>
        <input type="text" value="{{ profile.address }}" class="form-control" name="zip">
      </div>
      <div class="form-group col-md-3">
        <label><b>Postitoimipaikka:</b></label>
        <input type="text" class="form-control" name="city">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label><b>Sähköpostiosoite yhteydenottoihin</b></label>
        <input type="text" value="{{ profile.email }}" class="form-control" name="email">
      </div>
      <div class="form-group col-md-3">
      </div>
    </div>
  </div><hr>
    <button type="submit" class="btn btn-primary">Päivitä</button>
    <a href="/{{ locale }}/profile/" class="btn btn-info">Peruuta</a>
  </form>#}

{% endblock %}
