{% extends 'fi.base.html.twig' %}

{% block title%} Profiili {% endblock %}

{% block body %}
 <h2>Profiili</h2><hr>
 <h4>ℹ️ Profiilin tiedot:</h4><hr>
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Käyttäjänimi: </b>{{ profile.username }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Rooli: </b>
   {% if profile.role == '' %}
    Peruskäyttäjä
   {% elseif profile.role == 'super-user' %}
    Admin
   {% elseif profile.role == 'customer-admin' %}
    Customer admin
   {% endif %}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Liittymispäivämäärä: </b>{{ profile.joinedDateFi }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Nimi: </b>{{ profile.name }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Puhelinnumero: </b>{{ profile.phone }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Katuosoite: </b>{{ profile.address }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Postinumero ja postitoimipaikka: </b>{{ profile.zip }} {{ profile.city }}
 </div>
 {% if profile.language == 'fi' %}

 <div class="row" style="height: 40px; padding-top: 10px;">
   <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/fin.png'); background-size: 20px 20px;
   background-repeat: no-repeat; background-position: right 2px;">Sivuston käyttökieli: </b> suomi
 </div>

 {% elseif profile.language == 'en' %}

 <div class="row" style="height: 40px; padding-top: 10px;">
   <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/uk.png'); background-size: 20px 20px;
   background-repeat: no-repeat; background-position: right 2px;">Sivuston käyttökieli: </b> englanti
 </div>

 {% endif %}
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Sähköpostiosoite yhteydenottoihin: </b>{{ profile.email }}
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/fi/profile/update/info" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä profiilia</a>
 </div></div>

 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Vaihda salasana</b>
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/fi/profile/update/password" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Vaihda salasana</a>
 </div></div>

<br>
 <h4>Tilat:</h4><hr style="margin-top: 0px;">
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
 <div class="row" style="padding-top: 10px;">
   <b>Tilojen määrä: </b>{{ properties|length }} kpl
 </div>
 <div class="row">
   <b>Tilojen arvo yhteensä: </b>{{ propertiesSummary.totalValue }}€
 </div>
 <div class="row">
   <b>Tilojen ala yhteensä: </b>{{ propertiesSummary.totalAreaSum }} ha
 </div>
 <div class="row">
   <b>Tilojen kuvioiden koko yhteensä : </b>{{ propertiesSummary.totalSizeSum }} m³
 </div>
 <div class="row">
   <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
 </div>
 <div class="row">
   <a href="/property" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä tilat</a>
 </div></div>

 <br>
  <h4>Kuviot:</h4><hr style="margin-top: 0px;">
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
  <div class="row" style="padding-top: 10px;">
    <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
  </div>
  <div class="row">
    <b>Kuvioiden keskimääräinen arvo: </b> 123
  </div>
  <div class="row">
    <b>Kuvioiden keskimääräinen odotustuottokerroin: </b> 123
  </div>
  <div class="row">
    <b>Kuvioiden keskipituus: </b> 123
  </div>
  <div class="row">
     <a href="/article" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä kuviot</a>
  </div></div>
<br><br>
{% endblock %}
