{% extends 'base.html.twig' %}

{% block title%} Profile {% endblock %}

{% block body %}
 <h2>👨 Profile</h2><hr>
 <h4>ℹ️ Profile Information:</h4><hr>
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Käyttäjänimi: </b>{{ profile.username }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Liittymispäivämäärä: </b>{{ profile.joinedDate }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Nimi: </b>{{ profile.name }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Puhelinnumero: </b>{{ profile.phone }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Katuosoite: </b>{{ profile.address }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Postinumero ja postitoimipaikka: </b>{{ profile.zip }} {{ profile.city }}
 </div>
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Sähköpostiosoite yhteydenottoihin: </b>{{ profile.email }}
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/en/profile/update/info" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update profile</a>
 </div></div>

 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
 <div class="row" style="height: 40px; padding-top: 10px;">
   <b>Vaihda salasana</b>
 </div>
 <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
 <a href="/en/profile/update/password" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Change password</a>
 </div></div>

<br>
 <h4>🏘️ Properties:</h4><hr style="margin-top: 0px;">
 <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
 <div class="row" style="padding-top: 10px;">
   <b>Tilojen määrä: </b>{{ properties|length }} kpl
 </div>
 <div class="row">
   <b>Tilojen arvo yhteensä: </b>{{ propertiesSummary.totalValue }}€
 </div>
 <div class="row">
   <b>Tilojen ala yhteensä: </b>{{ propertiesSummary.totalAreaSum }} ha
 </div>
 <div class="row">
   <b>Tilojen kuvioiden koko yhteensä : </b>{{ propertiesSummary.totalSizeSum }} m³
 </div>
 <div class="row">
   <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
 </div>
 <div class="row">
   <a href="/property" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show properties</a>
 </div></div>

 <br>
  <h4>🌳 Articles:</h4><hr style="margin-top: 0px;">
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
  <div class="row" style="padding-top: 10px;">
    <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
  </div>
  <div class="row">
    <b>Kuvioiden keskimääräinen arvo: </b> 123
  </div>
  <div class="row">
    <b>Kuvioiden keskimääräinen odotustuottokerroin: </b> 123
  </div>
  <div class="row">
    <b>Kuvioiden keskipituus: </b> 123
  </div>
  <div class="row">
     <a href="/article" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show articles</a>
  </div></div>
<br><br>
{% endblock %}
