{% extends 'en.base.html.twig' %}

{% block title%} Factors {% endblock %}

{% block body %}
 <h2> Factors:</h2><hr>
 {% if app.user.role is not same as('') %}
   <a href="/en/newfactor"><button type="button" class="btn btn-outline-primary btn-md">Add a new factor</button></a>
 {% else %}
   <a href="/"><button type="button" class="btn btn-outline-primary btn-md disabled">Add a new factor</button></a>
 {% endif %}
<hr>
<h4>ℹ️ Information:</h4><hr style="margin-top: 0px;">

<h4>List of factors ({{ factors|length }} factors):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px;"><b>Name (English)</b></div>
 <div class="col" style="max-width: 800px;"><b>Name (Finnish)</b></div>
 <div class="col" style="max-width: 100px;"><b>Value</b></div>
 <div class="col" style="max-width: 100px;"><b>Measure</b></div>
 <div class="col" style="max-width: 800px;"><b>Source</b></div>
 <div class="col" style="max-width: 800px;"><b>Reference ID</b></div>
 <div class="col" style="max-width: 800px;"><b>Last. upd.</b></div>
 <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for factor in factors %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px;">{{ factor.titleEn }}</div>
   <div class="col" style="max-width: 800px;">{{ factor.titleFi }}</div>
   <div class="col" style="max-width: 100px;">{{ factor.valueFloated }}</div>
   <div class="col" style="max-width: 100px;">{{ factor.measure }}</div>
   <div class="col" style="max-width: 800px;">{{ factor.source }}</div>
   <div class="col" style="max-width: 800px;">{{ factor.referenceId }}</div>
   <div class="col" style="max-width: 800px;">{{ factor.lastUpdatedEn }}</div>
    <div class="col" style="max-width: 800px;"><a href="/en/factor/{{ factor.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
    {% if app.user.role is not same as('') %}
     <a href="/en/factor/update/{{ factor.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a>
    {% else %}
     <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Update</a>
    {% endif %}
    </div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}<br><br><br><br>

{% endblock %}
