{% extends 'fi.base.html.twig' %}

{% block title%} Päästötuotteet {% endblock %}

{% block body %}
 <h2> Päästötuotteet:</h2><hr>
 <a href="/fi/newfactor"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi päästötuote</button></a>
 <a href="/factor/downloadcsv" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa päästötuotteet CSV:nä</a>
 <a href="/fi/factor/uploadcsv/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä päästötuotteet CSV:stä</a>
<hr>
<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">

<h4>Lista päästötuotteista ({{ factors|length }} kpl):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>Nimi (suomi)</b></div>
  <div class="col" style="max-width: 800px;"><b>Nimi (englanti)</b></div>
  <div class="col" style="max-width: 100px;"><b>Arvo</b></div>
  <div class="col" style="max-width: 100px;"><b>Yksikkö</b></div>
  <div class="col" style="max-width: 800px;"><b>Lähde</b></div>
  <div class="col" style="max-width: 800px;"><b>Viite</b></div>
  <div class="col" style="max-width: 800px;"><b>Viim. päiv.</b></div>
  <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for factor in factors %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px;">{{ factor.titleFi }}</div>
    <div class="col" style="max-width: 800px;">{{ factor.titleEn }}</div>
    <div class="col" style="max-width: 100px;">{{ factor.valueFloated }}</div>
    <div class="col" style="max-width: 100px;">{{ factor.measure }}</div>
    <div class="col" style="max-width: 800px;">{{ factor.source }}</div>
    <div class="col" style="max-width: 800px;">{{ factor.referenceId }}</div>
    <div class="col" style="max-width: 800px;">{{ factor.lastUpdatedFi }}</div>
    <div class="col" style="max-width: 800px;"><a href="/fi/factor/{{ factor.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä</a>
    {% if app.user.role is not same as('') %}
     <a href="/fi/factor/update/{{ factor.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a>
    {% else %}
     <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a>
    {% endif %}
    </div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}<br><br><br><br>

{% endblock %}
