{% extends 'fi.base.html.twig' %}

{% block title%}Uusi päästötuote {% endblock %}

{% block body %}

 <h2>Lisää uusi päästötuote</h2>

 <form method="post">
 <table class="table table-striped">
  <thead>
    <tr>
    <th><b>Nimi (suomi)</b></th>
    <th><b>Nimi (englanti)</b></th>
    <th><b>Arvo</b></th>
    <th><b>Yksikkö</b></th>
    <th><b>Lähde</b></th>
    <th><b>Viite-ID</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.titleFi }}" class="form-control newStyle" defaultValue="123" name="titleFi" required autofocus>
        </td>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.titleEn }}" class="form-control newStyle" defaultValue="123" name="titleEn" required autofocus>
        </td>
        <td>
        <input type="number" style="min-width: 100px; text-align: left; padding-left: 5px;" step="0.00001" min="0" value="0" class="form-control newStyle" name="value" required>
        </td>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.measure }}" class="form-control newStyle" defaultValue="123" name="measure" required autofocus>
        </td>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.source }}" class="form-control newStyle" defaultValue="123" name="source">
        </td>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.referenceId }}" class="form-control newStyle" defaultValue="123" name="referenceId">
        </td>
      </tr>
  </tbody>
  </table>
  <button type="submit" class="btn btn-outline-primary btn-md">Lisää päästötuote</button>
  <a href="/fi/factor" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
  </form>

{% endblock %}
