{% extends 'fi.base.html.twig' %}

{% block title%} {{ factor.titleFi }} {% if factor.source is not same as('') %}
     ({{ factor.source }})
    {% endif %}
{% endblock %}

{% block body %}
 <h2>{{ factor.titleFi }} {% if factor.source is not same as('') %}
      ({{ factor.source }})
     {% endif %}</h2><hr>
   <a href="/fi/factor" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a><hr>
<h4 style="margin-bottom: 20px;">ℹ️ Tiedot:</h4>
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px;"><b>Nimi (suomi)</b></div>
 <div class="col" style="max-width: 800px;"><b>Nimi (englanti)</b></div>
 <div class="col" style="max-width: 100px;"><b>Arvo</b></div>
 <div class="col" style="max-width: 100px;"><b>Yksikkö</b></div>
 <div class="col" style="max-width: 800px;"><b>Lähde</b></div>
 <div class="col" style="max-width: 800px;"><b>Viite</b></div>
 <div class="col" style="max-width: 800px;"><b>Viim. päiv.</b></div>
 <div class="col" style="max-width: 800px;"><b> </b></div>
 {#<div class="col">✎/✖</div>#}
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px;">{{ factor.titleFi }}</div>
  <div class="col" style="max-width: 800px;">{{ factor.titleEn }}</div>
  <div class="col" style="max-width: 100px;">{{ factor.value }}</div>
  <div class="col" style="max-width: 100px;">{{ factor.measure }}</div>
  <div class="col" style="max-width: 800px;">{{ factor.source }}</div>
  <div class="col" style="max-width: 800px;">{{ factor.referenceId }}</div>
  <div class="col" style="max-width: 800px;">{{ factor.lastUpdatedFi }}</div>
   <div class="col" style="max-width: 800px;">
   {% if app.user.role is not same as('') %}
    <a href="/en/factor/update/{{ factor.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a>
   {% else %}
    <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Update</a>
   {% endif %}
   </div>
   </div>

<hr>

{% endblock %}
