{% extends 'fi.base.html.twig' %}

{% block title%}Päästötuotteen päivitys{% endblock %}

{% block body %}

  <h2>Päästötuotteen päivitys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>Nimi (suomi)</b></th>
     <th><b>Nimi (englanti)</b></th>
     <th><b>Arvo</b></th>
     <th><b>Yksikkö</b></th>
     <th><b>Lähde</b></th>
     <th><b>Viite</b></th>
     <th><b>Viim. päiv.</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <input type="text" style="min-width: 160px; padding-left: 5px; text-align: left;" value="{{ factor.titleFi }}" class="form-control newStyle" defaultValue="123" name="titleFi" required autofocus>
         </td>
         <td>
         <input type="text" style="min-width: 160px; padding-left: 5px; text-align: left;" value="{{ factor.titleEn }}" class="form-control newStyle" defaultValue="123" name="titleEn" required autofocus>
         </td>
         <td>
         <input type="number" style="min-width: 100px; text-align: left; padding-left: 5px;" step="0.00001" min="0" value="{{ factor.value }}" class="form-control newStyle" name="value" required>
         </td>
         <td>
         <input type="text" style="min-width: 110px; padding-left: 5px; text-align: left;" value="{{ factor.measure }}" class="form-control newStyle" defaultValue="123" name="measure" required autofocus>
         </td>
         <td>
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.source }}" class="form-control newStyle" defaultValue="123" name="source">
         </td>
         <td>
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ factor.referenceId }}" class="form-control newStyle" defaultValue="123" name="referenceId">
         </td>
         <td>
         <div class="col" style="max-width: 800px;">{{ factor.lastUpdatedFi }}</div>
         </td>
         <td>
         <a href="/" style="display: none;" id="deleteBtnHidden-{{ factor.id }}" class="btn btn-danger">Delete</a>
         <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ factor.id }}" data-name="päästötuote">
         Poista
         </a>
         </td>
       </tr>
   </tbody>
   </table>

   <button type="submit" class="btn btn-outline-primary btn-md">Päivitä päästötuotetta</button>
   <a href="/fi/factor" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

   <hr>

  <br><br><br><br>

{% endblock %}
