{% extends 'fi.base.html.twig' %}

{% block title%} Etsi tilojen omistaja{% endblock %}

{% block body %}
 <h2>Etsi tilojen omistaja</h2><hr>
   <a href="/fi/functions" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Palaa</a>
   <a href="/fi/functions/createfromforestkitxml" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää kuvioita</a>
   <hr>

  <div class="row" style="margin-left: 10px;">
    <div class="col colFull" style="overflow: visible;">
      <h4 style="margin-bottom: 20px;">Hae tilojen omistajaa</h4>
      <p style="margin-bottom: 0px;">Kirjoita kenttään etsimäsi tilojen omistajan etu- ja sukunimi tai sähköpostiosoite:</p>
      <small style="margin-bottom: 5px;">Järjestelmä ehdottaa tilojen omistajia nimen/sähköpostin perusteella.</small>
      <input type="text" style="margin-top: 5px; min-width: 230px; padding-left: 5px; text-align: left;" class="form-control newStyle" name="input">

      <br>
      <h5>Haun tulokset:</h5>
      <div id="maindiv" style="padding-left: 5px; margin-bottom: 5px;">
      </div>
      <br>
    </div>
    <div class="col colFull" style="overflow: visible;">
      <h4 style="margin-bottom: 20px;">Lista tilallisista:</h4>
       <div class="row" style="padding-left: 10px; border: 0px solid black; border-radius: 0px; margin-top: 5px;">
       <button id="" style="margin-top: 5px; margin-bottom: 5px;" type="button" class="btn btn-dark btn-sm" onclick="uncheckAll()">Poista valinnat</button>
     </div>
     <div style="padding-left: 10px; overflow-x: hidden; max-height: 600px; overflow-y: scroll; box-shadow: 1px 1px 10px #808080;">
       {%  for owner in owners %}
       <div class="row" style="padding-left: 10px; background: lightBlue; border-radius: 0px; margin-top: 5px;">
       Valitse omistaja Excel-vientiin: <input type="checkbox" style="margin-left: 5px; height: 25px; line-height: 25px;" id="userCheckbox-{{ owner.name|replace({' ': "_"}) }}" onclick="checkboxFunction({{ owner.name|json_encode()|raw|replace({' ': "_"}) }})">
     </div>
       <div class="row" style="margin-right: 25px; background: white; border-radius: 5px; margin-top: 5px;">
         <!-- <b>userCheckbox-{{ owner.name|replace({' ': "_"}) }}</b> -->
         <div class="col" style="padding-left: 15px; border-bottom: 1px solid lightGray; max-width: 800px;">{{ owner.name }}</div>
         <!-- <div class="col" style="padding-left: 10px; border-bottom: 1px solid lightGray; max-width: 800px;">{{ owner.propertyquantity }}</div> -->
		 <div class="col" style="overflow: visible; padding-left: 10px; border-bottom: 1px solid lightGray; max-width: 800px;">
       <a href="/fi/functions/importedarticles/getexcel/owner/{{ owner.name }}" style="min-width: 200px; margin-bottom: 2px;" class="btn btn-info btn-sm">Hae kuviot Motti-laskuriin</a>
		   <a href="/fi/functions/importedarticles/createplan/owner/{{ owner.name }}" style="min-width: 200px;" class="btn btn-info btn-sm">Tee hiilisuunnitelma</a>
         </div>
       </div>
       {% endfor %}
     </div>
       <div style="margin-top: 20px; padding: 10px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;"><small style="margin-bottom: 10px; display: inline-block;">Saat valittujen käyttäjien tila- ja kuviotiedot Excel-tiedostoon tällä toiminnolla:</small>
       <a href="/fi/functions/importedarticles/exportplans/" id="exportplansLink" style="display: block; min-width: 200px; margin-left: 0px;" class="btn btn-info btn-sm">
         Tee Excel-vienti valituille omistajille</a>
  </div></div></div>
   <hr>
<hr>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    //const companyId = window.location.toString().split("/")[5];
    //const locale = window.location.toString().split("/")[3];

    $('input[name="input"]').on('input', function() {
      //console.log($(this).val().length);
      if($(this).val().length == 0) {
          $("#maindiv").empty();
      }
      if($(this).val().length > 3) {
      //console.log('Fetching!');
      fetch('/functions/api/searchuser/'+$(this).val(), {
          headers : {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
           }
        })
        .then((response)=>response.json())
        .then(users => {
          $("#maindiv").empty();
          const h5 = document.createElement("h5");
          h5.style = "margin-left: -5px";
          h5.innerHTML = 'Haulla löydettiin ' + users.length + ' käyttäjä(ä):';
          document.getElementById("maindiv").appendChild(h5);

          users.forEach((user, i) => {
            if (user.name == "") {
              user.name = "Ei lisättyä nimeä";
            }
            user.index = i+1
            let addedDiv = '';
            /*
            if (user.added) {
              addedDiv = '<a class="btn btn-danger btn-sm remove-user" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="'+user.name+'" data-name="'+user.name+'">'+
              'Poista käyttäjä yritykseltä'+
              '</a>'+
              '</div>'
            } else {
              addedDiv = '<a class="btn btn-info btn-sm add-user" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="'+user.name+'" data-name="'+user.name+'">'+
              'Lisää käyttäjä yritykselle'+
              '</a>'+
              '</div>'
            }
            */
            addedDiv = '<a class="btn btn-info btn-sm add-user" style="margin-top: 5px; min-width: 200px;" href="/fi/functions/importedarticles/getexcel/owner/'+user.name+'" style="color: white; padding-left: 15px; padding-right: 15px;">'+
            'Hae kuviot Motti-laskuriin'+
            '</a>'+
			'<a class="btn btn-info btn-sm add-user" style="margin-top: 5px; min-width: 200px;" href="/fi/functions/importedarticles/createplan/owner/'+user.name+'" style="color: white; padding-left: 15px; padding-right: 15px;">'+
            'Hae omistajan kuvioita (Excel)'+
            '</a>'+
            '</div>'
            const div = document.createElement("div");
            div.style = "margin-bottom: 20px;";
            div.innerHTML = '<div class="row" style=" padding-left: 5px; border: 1px solid lightGray;">'+
            '<div class="col" style="max-width: 170px;"><b>ℹ️ Omistajan nimi:</b><br> '+user.name+'</div>'+
            '<div class="col" style="max-width: 100px;"><b>Tilojen määrä:</b><br> '+user.propertyquantity+' </div>'+
            '<div class="col" style="max-width: 800px;">'+
            addedDiv +
            '{#<div class="col">✎/✖</div>#}'+
            '</div>'

            document.getElementById("maindiv").appendChild(div);

            $('.add-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString() + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Lisätäänkö käyttäjä <b>"+itemName+"</b> yritykselle?</p>" + "<a class='btn btn-info btn-sm' href='"+newUrl+"'>Lisää käyttäjä</a>";

            });

            $('.remove-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString().replace("adduser", "removeuser") + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko käyttäjä <b>"+itemName+"</b> yritykseltä?</p>" + "<a class='btn btn-danger btn-sm' href='"+newUrl+"'>Poista käyttäjä</a>";

            });

          })
          if($(this).val().length == 0) {
              $("#maindiv").empty();
          }
        })
      }
    });

    $(document).ready(function () {
      var itemId = 0;
      var itemName = '';
      //remove all params on page load
      const onLoadParts0 = window.location.href.split('?');
      let newSetParams0 = new URLSearchParams(onLoadParts0[1]);
      [...newSetParams0.keys()]
        .filter(key => key.toString().includes('sel'))
        .forEach(key => newSetParams0.delete(key))
      const urlParts0 = window.location.href.split('?');
      newUrl0 = urlParts0[0] + '?' + newSetParams0.toString();
      window.history.pushState({page: "another"}, "another page", newUrl0);
      //done removing

      var url = window.location.href;
      let pageLoadUrl = new URL(url);
      const onLoadParams = new URLSearchParams(pageLoadUrl.search.slice(1));

        {{ ownerNames|json_encode()|raw }}.map((element, index) => {
          onLoadParams.append('sel['+index+']', element);
        });
        {{ ownerNames|json_encode()|raw }}.map((element, index) => {
          //console.log(element);
          const newElement = element.replace(" ", "_");
          $("#userCheckbox-"+newElement).prop("checked", true);
        });
        const urlParts = url.split('?');
        newUrl = urlParts[0] + '?' + onLoadParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);

        const replacedUrl = newUrl.replace("importedarticles", "exportplans");
        $("#exportplansLink").attr("href", replacedUrl)

      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          console.log(itemName);
          console.log(itemId);

          document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Delete</button>';
          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

          $('#deleteBtn').click(function (event) {
            document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
              var itemId = 0;
              var itemName = '';
            });
          });

      });

      $('.add-user').click(function () {
          itemId = $(this).attr('data-id');
          itemName = $(this).attr('data-name');

          const newUrl = window.location.toString() + itemId;

          document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Lisätäänkö käyttäjä <b>"+itemName+"</b> yritykselle?</p>" + "<a class='btn btn-info btn-sm' href='"+newUrl+"'>Lisää käyttäjä</a>";

      });

      $("#userCheckbox").click(function(){
        alert("The paragraph was clicked.");
      });

    });

    function uncheckAll() {
      $('input:checkbox').prop('checked', false)
      let newUrl = window.location.href.split('?').shift()
      //window.location.assign(newUrl);
      window.history.pushState({page: "another"}, "another page", newUrl)
      const newUrl1 = newUrl.replace("importedarticles", "exportplans")
      $("#exportplansLink").attr("href", newUrl1)
    }

    function checkboxFunction(param) {
      const newElement = param.replace("_", " ");
      //console.log(newElement);
      //return;

      const onLoadParts1 = window.location.href.split('?');
      let newSetParams = new URLSearchParams(onLoadParts1[1]);

      let allOwners = [];
      newSetParams.forEach(function(value, key) {
        if (key.toString().includes("sel")) {
            allOwners.push(value);
        }
      });

      const isInArray = allOwners.includes(newElement);
      if (isInArray) {
        let newSetIds = [];
        newSetParams.forEach(function(value, key) { //cant delete key here
          if (key.toString().includes("sel") && value != newElement) {
              newSetIds.push(value);
          }
        });

        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))

        newSetIds.map((element, index) => { //re-index!!!
          newSetParams.append('sel['+index+']', element);
        });

        const urlParts = window.location.href.split('?');
        newUrl = urlParts[0] + '?' + newSetParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);
        const replacedUrl = newUrl.replace("importedarticles", "exportplans");
        $("#exportplansLink").attr("href", replacedUrl)
      } else {
        newSetParams.append('sel[]', newElement);
        const urlParts1 = window.location.href.split('?');
        newUrl = urlParts1[0] + '?' + newSetParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);

        let newSetIds = []; //get all for the reindexing
        newSetParams.forEach(function(value, key) {
          if (key.toString().includes("sel")) {
              newSetIds.push(value);
          }
        });

        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))

        newSetIds.map((element, index) => { //re-index!!!
          newSetParams.append('sel['+index+']', element);
        });

        const urlParts2 = window.location.href.split('?');
        newUrl = urlParts2[0] + '?' + newSetParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);
        const replacedUrl = newUrl.replace("importedarticles", "exportplans");
        $("#exportplansLink").attr("href", replacedUrl)
      }

    }

    </script>
{% endblock %}
