{% extends 'fi.base.html.twig' %}

{% block title%} Käyttäjän suunnitelmat {% endblock %}

{% block body %}
 <h2>Käyttäjän suunnitelmat</h2><hr>
   <a href="/fi/functions/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   {#<a href="/fi/property/suunnitelmat/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a>#}
   <hr>

 {% for articleResultDate in articleResultDates %}
 <p style="margin-left: 5px; display: inline;">Ajankohta: {{ articleResultDate.formattedDateFi }}</p><br>
 <p style="margin-left: 5px; display: inline;">Tulosten määrä: {{ articleResultDate.articleResultCount }}</p><br>
 <button style="margin: 2px;" class="btn btn-info btn-sm" onclick="showPlanByDate({{ articleResultDate.date }})">Näytä ajankohdan tulokset</button>
  <br>
 {% endfor %}<hr>


  {% for articleResults in articleResultsByDate %}
    {% for item in articleResults %}
      <div class="{{ item.date }}" style="display: none;">
      <div class="row" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; box-shadow: 1px 1px 10px #808080; border-radius: 10px;">
      <b>Date:</b> {{ item.date }} <b>ID: </b> {{item.importedArticle.id}}<b> Tila: </b> {{item.importedArticle.property.address}}
      </div>
      <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
       <div class="col" style="max-width: 800px; font-size: 15px;"><b>ℹ️ Alue:</b></div>
       <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Pääryhmä:</b></div>
       <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvupaikka:</b></div>
       <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Maalaji:</b></div>
       <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Kehitysluokka:</b></div>
       <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Saavutettavuus:</b></div>
       <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Laatu:</b></div>
       <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvu yht:</b></div>
       <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Toimenpiteet:</b></div>
       <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Päivämäärä:</b></div>
       </div>
       <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.area }}</div>
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.mainclass }}</div>
         <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.growplace }}</div>
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.soiltype }}</div>
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.developmentclass }}</div>
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.accessibility }}</div>
         <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.quality }}</div>
         <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.totalGrowth }}</div>
         <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.operations }}</div>
         <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.formattedDateFi }}</div>
       </div>

       {% if not item.importedArticle.noTreeData %}
       <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
         <b>Kuvion puustotiedot:</b>
       </div>
        <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
         <div class="col" style="max-width: 800px; font-size: 15px;"><b>Puulaji:</b></div>
         <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Ikä/v.</b></div>
         <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Tilavuus m³/kuvio</b></div>
         <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Tilavuus m³/ha</b></div>
         <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Läpimitta, cm</b></div>
         <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Pituus, m</b></div>
         <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvu m³/ha/v</b></div>
       </div>
       <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
         <div class="col" style="max-width: 800px; font-size: 13px;"><b>Yhteensä</b></div>
         <div class="col" style="max-width: 800px; font-size: 13px;"><b>1</b></div>
         <div class="col" style="max-width: 800px; font-size: 12px;"><b>2</b></div>
         <div class="col" style="max-width: 800px; font-size: 13px;"><b>3</b></div>
         <div class="col" style="max-width: 800px; font-size: 13px;"><b>4</b></div>
         <div class="col" style="max-width: 800px; font-size: 13px;"><b>5</b></div>
         <div class="col" style="max-width: 800px; font-size: 12px;"><b>6</b></div>
       </div>
         {% if item.importedArticle.mantyAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Mänty</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.mantyAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.mantyVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.mantyVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.mantyDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.mantyLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.mantyGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.kuusiAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Kuusi</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.kuusiAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.kuusiVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.kuusiVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.kuusiDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.kuusiLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.kuusiGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.rauduskoivuAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Rauduskoivu</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.rauduskoivuAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.rauduskoivuVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.rauduskoivuVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.rauduskoivuDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.rauduskoivuLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.rauduskoivuGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.hieskoivuAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Hieskoivu</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.hieskoivuAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.hieskoivuVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.hieskoivuVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.hieskoivuDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.hieskoivuLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.hieskoivuGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.haapaAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Haapa</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.haapaAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.haapaVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.haapaVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.haapaDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.haapaLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.haapaGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.harmaaleppaAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Harmaaleppa</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.harmaaleppaAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.harmaaleppaVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.harmaaleppaVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.harmaaleppaDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.harmaaleppaLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.harmaaleppaGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.tervaleppaAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Tervaleppa</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.tervaleppaAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.tervaleppaVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.tervaleppaVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.tervaleppaDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.tervaleppaLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.tervaleppaGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.havupuuAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Havupuu</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.havupuuAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.havupuuVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.havupuuVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.havupuuDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.havupuuLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.havupuuGrowth }}</div>
         </div>
         {% endif %}
         {% if item.importedArticle.lehtipuuAge > 1 %}
         <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
           <div class="col" style="max-width: 800px; font-size: 13px;">Lehtipuu</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.lehtipuuAge }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.lehtipuuVolume }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.lehtipuuVolumeHa }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.lehtipuuDiameter }}</div>
           <div class="col" style="max-width: 800px; font-size: 13px;">{{ item.importedArticle.lehtipuuLength }}</div>
           <div class="col" style="max-width: 800px; font-size: 12px;">{{ item.importedArticle.lehtipuuGrowth }}</div>
         </div>
         {% endif %}
       {% endif %}
       <br>
       <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
         <b>Laskennan tulokset:</b>
       </div>
       <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
        <div class="col" style="max-width: 800px; font-size: 15px;"><b>Toimenpiteen jälkeinen kasvu:</b></div>
        <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Hiilensidonnan lisäisyys:</b></div>
        <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Vaikutusaika/sopimuskausi:</b></div>
        <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kok.lisäisyys sopimuskaudella:</b></div>
       </div>
        <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
          <div class="col" style="max-width: 800px; font-size: 13px;">6,9 m³/ha/v</div>
          <div class="col" style="max-width: 800px; font-size: 13px;">3,0 CO2tn/ha/v</div>
          <div class="col" style="max-width: 800px; font-size: 12px;">5 vuotta</div>
          <div class="col" style="max-width: 800px; font-size: 13px;">21,8 CO2tn/kuvio</div>
        </div>
       <br>
       <hr><br></div>

    {% endfor %}
  {% endfor %}


  {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script>

      var articleResultDates = "{{ articleResultDates|json_encode() }}";
      var newArticleResultDates = JSON.parse(articleResultDates.replace(/&quot;/g, '"'));
      //console.log(newArticleResultDates);

      function showPlanByDate(date) {
        newArticleResultDates.map((element, index) => {
          $("."+element.date).css("display", "none");
        });
        $("."+date).css("display", "inline");
      }

      </script>
  {% endblock %}

{% endblock %}
