{% extends 'fi.base.html.twig' %}

{% block title%} Suunnitelma käyttäjälle&nbsp;{{ owner }} {% endblock %}

{% block body %}
<style>
    .container {
      margin-left: auto;
    }
	b {
	  font-size: 12px;
    }
	table,
	td,
	th {
	  //padding: 5px;
	  text-align: center;
	  border: 2px solid lightGray;
	  border-collapse: collapse;
	}
</style>
   <a href="/fi/functions/importedarticles/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   {#<a href="/fi/property/{{ owner }}/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a>#}
   <hr>
  <div style="padding-left: 5px; padding-bottom: 10px; border: 1px solid lightGray; margin-bottom: 10px; border-radius: 5px;">
  <b style="font-size: 15px;">Huom!</b><br><hr style="padding: 0px; margin-bottom: 5px; margin-top: 0px;">
	   <h6>Jos näkymästä puuttuu kuvioita, voi olla että niillä ei ole laskettuja tuloksia.<br>Tästä näkymästä saat kaikki käyttäjän kuviot Motti-laskuria varten:</h6>
  <a href="/fi/functions/importedarticles/getexcel/owner/{{ owner }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Hae kuviot laskentaa varten</a>
  </div>

{#<div style="padding-left: 5px; padding-bottom: 10px; border: 1px solid lightGray; margin-bottom: 10px; border-radius: 5px;">
<b>Hae kuvioita seuraavilla parametreilla:</b><br><hr style="padding: 0px; margin-bottom: 5px; margin-top: 0px;">
<input type="checkbox" id="filterNoTreesCheck" style="visibility: hidden;" onclick="filterFunction()">
Toiminto:
<select class="form-control newStyle" style="min-width: 120px; font-size: 15px; display: inline;" id="operationDropdown" onchange="filterFunction()">
  <option value="0" selected>Valitse</option>
  <option value="fertilization">Lannoitus</option>
  <option value="afforestation">Metsitys</option>
</select>

Toiminto:
<select class="form-control newStyle" style="min-width: 120px; font-size: 15px; display: inline;" id="operationDropdown" onchange="filterFunction()">
    {% for key, val in properties %}
        <option value="{{ val }}">{{ val }}</option>
    {% endfor %}
</select>#}

{% if removedArticles|length > 0 %}
<div id="removedArticlesDiv" style="padding-bottom: 10px; padding-left: 10px; margin-bottom: 10px; border: 1px solid lightGray;">
  <h6 style="display: inline;">Poistetut kuviot ({{ removedArticles|length }}kpl):</h6><small> Nämä kuviot on poistettu pois ruksaamalla</small>
  <br><button id="" style="margin-top: 5px;" type="button" class="btn btn-info btn-sm" onclick="checkboxSelectFunction2()">Hae kaikki kuviot</button>
  <div class="container" style="margin-top: 5px; margin-left: 0px">
    <div class="row">
      <div class="col-md-1" style="border: 1px solid gray;"><b>Palauta</b></div>
      <div class="col-md-1" style="border: 1px solid gray; max-width: 30px; padding-left: 5px;"><b>ID:</b></div>
	  <div class="col-md-1" style="border: 1px solid gray; padding-left: 5px;"><b>Kuviotunnus:</b></div>
	  <div class="col-md-1" style="border: 1px solid gray; padding-left: 5px;"><b>Tila:</b></div>
      <div class="col-md-3" style="border: 1px solid gray; padding-left: 5px;"><b>Pääryhmä:</b></div>
      <div class="col-md-5" style="border: 1px solid gray; padding-left: 5px;"><b>Kasvupaikka:</b></div>
    </div>
  </div>
  <div style="border-bottom: 1px solid gray; max-height: 140px; overflow-y: auto;">
  {%  for index, article in removedArticles %}
  <div class="container" style="margin-top: 5px; margin-left: 0px">
    <div class="row" style="font-size: 13px; padding-bottom: 5px; border-bottom: 1px solid lightGray;">
      <div class="col-md-1" style="text-align: center;"><input class="selectedBox" type="checkbox" id="articleSelectCheckbox-{{ article.id }}" onclick="checkboxSelectFunction2({{ article.id }})"></div>
      <div class="col-md-1" style="text-align: center; max-width: 30px; padding: 0px;">{{ article.id }}</div>
	  <div class="col-md-1" style="text-align: center;">{{ article.standNumber }}</div>
	  <div class="col-md-1" style="padding: 0px;">{{ article.propertyName }}</div>
      <div class="col-md-3 trimText" style="padding: 0px;">{{ article.mainclass }}</div>
      <div class="col-md-5 trimText" style="padding: 0px;">{{ article.growplace }}</div>
      {#<div class="col-md-2"><a href="/fi/property/{{article.propertyId}}/importedarticles/{{article.id}}/show" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä lisätiedot</a></div>#}
    </div>
  </div>
  {% endfor %}
</div>
<a style="color: white; margin-top: 15px; margin-bottom: 10px;" class="btn btn-dark btn-sm" onclick="useCurrentUrl()">Hae valitut kuviot</a>
<a style="color: white; margin-top: 15px; margin-bottom: 10px;" class="btn btn-dark btn-sm" onclick="uncheckRemoved()">Peruuta (poista valinnat)</a>
</div>
{% endif %}

<div id="filterSettingsUsedDiv">
</div>

{% if importedArticlesPaginated|length < 1 %}
	Tuloksettomia kuvioita ei haeta, laske ja lähetä niille tulokset ensin.
	<br>
{% endif %}

<button id="" style="margin-top: 5px; margin-bottom: 10px;" type="button" class="btn btn-dark btn-sm" onclick="checkboxDeselectAllFunction()">Poista kuvioiden valinnat</button>


{%  for index, article in importedArticlesPaginated %}
<div style="max-width: 900px; margin-bottom: 10px; padding-left: 15px;">
<div class="row" style="font-size: 12px; padding 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 5px; box-shadow: 1px 1px 10px #808080; border-radius: 5px;">
<b>ℹ️ Valitse kuvio </b><input type="checkbox" style="height: 20px; line-height: 20px;" id="articleCheckbox-{{ article.id }}" onclick="checkboxFunction({{ article.id }})"><b> | ID: </b> {{article.id}} <b> | Alkuperäinen kuviotunnus: </b> {{article.standNumber}} <b>Kuvio: </b> {{article.index}}/{{ importedArticles|length }} <b>Tila: </b> {{article.propertyName}}</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 0px;">
 <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px; min-width: 60px; max-width: 60px;"><b>Pinta-ala:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px; min-width: 80px; max-width: 80px;"><b>Pääryhmä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Kasvupaikka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Maalaji:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; padding: 0px;"><b>Kehitysluokka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; padding: 0px;"><b>Saavutettavuus:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Laatu:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Kasvu yht:</b></div>
 {#<div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; padding: 0px;"><b>Päivämäärä:</b></div>#}
 </div>
 <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 0px;">
   <div class="col" style="max-width: 800px; font-size: 13px; border-left: 1px solid lightGray; padding: 0px; min-width: 60px; max-width: 60px;">{{ article.area|replace({'.': ","}) }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px; border-left: 1px solid lightGray; padding: 0px; min-width: 80px; max-width: 80px;">{{ article.mainclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px;">{{ article.growplace }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px; border-left: 1px solid lightGray; padding: 0px;">{{ article.soiltype }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px; border-left: 1px solid lightGray; padding: 0px;">{{ article.developmentclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px; border-left: 1px solid lightGray; padding: 0px;">{{ article.accessibility }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; border-left: 1px solid lightGray;">{{ article.quality }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; border-left: 1px solid lightGray; margin-right: 5px; border-right: 1px solid lightGray;">{{ article.totalGrowth|replace({'.': ","}) }}</div>
   {#<div class="col" style="max-width: 800px; font-size: 13px; padding: 0px; border-left: 1px solid lightGray;">{{ article.dateFi }}</div>#}
   </div>

{% if not article.noTreeData %}
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px;">
  <b>Kuvion puustotiedot:</b>
</div>
 <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Puulaji:</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Ikä/v.</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Tilavuus m³/kuvio</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Tilavuus m³/ha</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; padding: 0px;"><b>Läpimitta, cm</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; padding: 0px;"><b>Pituus, m</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; padding: 0px;"><b>Kasvu m³/ha/v</b></div>
</div>
<div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;"><b>Yhteensä</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;"><b>{{ article.totalAge|round() }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalVolumePerArea|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;"><b>{{ article.totalVolumeHa|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;"><b>{{ article.totalDiameter|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;"><b>{{ article.totalLength|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalGrowth|replace({'.': ","}) }}</b></div>
</div>
  {% if article.mantyAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Mänty</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.mantyAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.mantyVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.mantyDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.mantyLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.kuusiAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Kuusi</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.kuusiAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.kuusiVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.kuusiDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.kuusiLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.rauduskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Rauduskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.rauduskoivuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.rauduskoivuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.rauduskoivuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.rauduskoivuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.hieskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Hieskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.hieskoivuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.hieskoivuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.hieskoivuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.hieskoivuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.haapaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Haapa</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.haapaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.haapaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.haapaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.haapaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.harmaaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Harmaaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.harmaaleppaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.harmaaleppaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.harmaaleppaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.harmaaleppaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.tervaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Tervaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.tervaleppaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.tervaleppaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.tervaleppaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.tervaleppaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.havupuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Havupuu</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.havupuuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.havupuuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.havupuuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.havupuuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.lehtipuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">Lehtipuu</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.lehtipuuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.lehtipuuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.lehtipuuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.lehtipuuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
{% endif %}
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px;">
  <b>Laskennan tulokset:</b>
</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
<div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Toimenpiteet:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Toimenpit. jälk. kasvunlisäys:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Hiilensidonnan lisäisyys:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Vaikutusaika/sopimuskausi:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding: 0px;"><b>Kok.lisäisyys sopimuskaudella:</b></div>
</div>
 <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
 <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.futureOperations }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.result2|replace({'.': ","}) }} m³/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.result2|replace({'.': ","}) }} CO2tn/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.planYears|replace({'.': ","}) }} vuotta</div>
   <div class="col" style="max-width: 800px; font-size: 13px; padding: 0px;">{{ article.result4|round(2, 'floor')|replace({'.': ","}) }} CO2tn/kuvio</div>
 </div>
</div></div>
   {% endfor %}

<div style="max-width: 960px; margin-top: 20px; padding-left: 15px;">
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px;">
  <b style="font-size: 14px; margin: auto;">Hiilisuunnitelman yhteenveto:</b>
</div>
</div><br>

<div style="border-top: 1px solid lightGray; border-bottom: 1px solid lightGray; max-width: 970px; max-height: 200px; overflow-y: auto;">
<table style="font-size: 13px;">
      <tr>
        <th style="">Kuvion ID</th>
        <th style="">Kuviotunnus</th>
		<th style="">Kiinteistötunnus</th>
		<th style="">Kiinteistön nimi</th>
		<th style="">Kuvion pinta-ala, ha</th>
		<th style="">Toimenpit. jälk. kasvunlisäys, m3/ha/vuosi</th>
		<th style="">Hiilensidonnan lisäisyys, CO2tn/ha/vuosi</th>
		<th style="">Sopimuskausi, vuosia (5/10)</th>
      </tr>
   {% for index, article in importedArticles %}
      <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.standNumber }}</td>
		<td>{{ article.propertyIdentifier }}</td>
		<td>{{ article.propertyName }}</td>
		<td>{{ article.area|replace({'.': ","}) }}</td>
		<td>{{ article.result1|replace({'.': ","}) }}</td>
		<td>{{ article.result1|replace({'.': ","}) }}</td>
		<td>{{ article.planYears }}</td>
      </tr>
   {% endfor %}
    </table>
</div>

<form method="POST" style="margin-top: 10px;">
  <!--<small style="color: red;">Ei käytetä toistaiseksi (anna olla oletukset)</small><br>
  <b>Lannoituksen arvot:</b> (Vaaditaan vaikka metsitettäisiin)<br>
  Lannoituslaji:
  <select class="form-control newStyle" style="margin-top: 5px; font-size: 15px; display: inline;" name="fertilizationType">
  <option value="Ash" selected>Tuhka</option>
  <option value="Saltpeter">Salpietari</option>
  <option value="NPK">NPK</option>
  </select>
  Typpimäärä (kgN/ha):
  <input type="number" step="1" min="0" value="150" class="form-control newStyle" style="display: inline;" name="nitrogenAmount" required>
  <br><br>
  <input type="text" style="min-width: 230px; padding-left: 5px; text-align: left;" class="form-control newStyle" name="owner" required autofocus>
  -->
  <div>
  <h6 style="margin-bottom: 5px;">Otsikko hiilisuunnitelmalle:</h6>
   <input type="text" style="width: 300px; height: 30px; margin-top: 0px; margin-bottom: 15px; padding-left: 5px; text-align: left;" value="{{ owner }}" class="form-control" name="topic" required>
     <h6 style="margin-bottom: 5px;">Tonnikohtainen korvaus:</h6>
   <input type="number" style="width: 300px; height: 30px; margin-top: 0px; margin-bottom: 15px; padding-left: 5px; text-align: left;" value="0" class="form-control" name="cost" required><hr>
   <input type="hidden" name="importedArticlesJsoned" value="{{ importedArticlesJsoned }}" />
   <button type="submit" class="btn btn-primary">Valitse kuviot hiilisuunnitelmalle</button>
   <a href="/fi/functions" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
</form>
<br>

<div class="navigation" style="margin-top: 30px;">
    {{ knp_pagination_render(importedArticlesPaginated) }}
</div><br>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    var url = window.location.href;
/*
    if (url.includes("?operation=0")) {
      const newUrl = url.replace("?operation=0", "");
      window.location.replace(newUrl);
    }
*/
    $('.dropdown-toggle').dropdown();
    $('[data-toggle="tooltip"]').tooltip();
    $(document).ready(function () {

    $("#filterSettingsUsedDiv").empty();
    const h5 = document.createElement("h5");
    h5.style = "margin-left: 0px";
    h5.innerHTML = '{{ importedArticles|length }} kuviota löydetty:';
    document.getElementById("filterSettingsUsedDiv").appendChild(h5);
    $('#filterSettingsUsedDiv').css({'padding': '0px'});

    let pageLoadUrl = new URL(url);
    const onLoadParams = new URLSearchParams(pageLoadUrl.search.slice(1));

    if (onLoadParams.has('filterNoTrees')) {
      $("#filterNoTreesCheck").prop("checked", true);

      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      b.innerHTML = ' ✔️ Filteröidään puuttomat kuviot pois';
      document.getElementById("filterSettingsUsedDiv").appendChild(b);

      //const br = document.createElement("br");
      //document.getElementById("filterSettingsUsedDiv").appendChild(br);

    } else {
      $("#filterNoTreesCheck").prop("checked", false);
    }

    if (onLoadParams.has('operation')) {
      const operationValue = onLoadParams.get("operation");
      $('#operationDropdown').val(operationValue);
      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      if (operationValue == 'fertilization') {
        b.innerHTML = ' ✔️ Haetaan lannoitukselle sopivat kuviot';
      } if (operationValue == 'afforestation') {
        b.innerHTML = ' ✔️ Haetaan metsitykselle sopivat kuviot';
      } if (operationValue == '0') {
        //alert('Remove param!');
      }
      document.getElementById("filterSettingsUsedDiv").appendChild(b);
    }

    const onLoadParts1 = url.split('?');
    let onLoadParams1 = new URLSearchParams(onLoadParts1[1]);
    onLoadParams1.delete('page');
    [...onLoadParams1.keys()]
      .filter(key => key.toString().includes('sel'))
      .forEach(key => onLoadParams1.delete(key))
    if (onLoadParams1.toString().length > 0) { //'page', 'sel[]' are ignored
      const br = document.createElement("br");
      document.getElementById("filterSettingsUsedDiv").appendChild(br);
      const button = document.createElement("button");
      button.style.marginTop = '15px';
      button.className = "btn btn-info btn-sm add-user";
      button.onclick = function() {
        let newUrl = url.split('?').shift();
        window.location.assign(newUrl);
      };
      button.innerHTML = 'Poista valinnat';
      document.getElementById("filterSettingsUsedDiv").appendChild(button);
    }

    $('#growplaceDropdown').val('0');
    $('#soiltypeDropdown').val('0');

      var itemId = 0;
      var itemName = '';
      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

      });

      $('#deleteBtn').click(function (event) {
        document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
          var itemId = 0;
          var itemName = '';
        });
        /*
          const deleteUrl = window.location + '/delete/' + articleId
          fetch(deleteUrl).then(response => {
          location.replace(window.location)
        })*/
      });

      var jsonedArticleIDs = "{{ jsonedArticleIDs }}";
      var newJsonedArticleIDs = jsonedArticleIDs.replace(/&quot;/g, '"');
      var articleIDsList = JSON.parse(newJsonedArticleIDs);
      articleIDsList.map((element, index) => {
        $("#articleCheckbox-"+element).prop("checked", true);
      });
      if (articleIDsList.length < 6 && onLoadParams.has('page')) {
        onLoadParams.delete('page');
        const urlParts = url.split('?');
        newUrl = urlParts[0] + '?' + onLoadParams.toString();
        window.location.assign(newUrl);
      }
      if (!onLoadParams.has('sel[]') && !onLoadParams.has('sel[0]')) {
        articleIDsList.map((element, index) => {
          onLoadParams.append('sel['+index+']', element);
        });
        const urlParts = url.split('?');
        newUrl = urlParts[0] + '?' + onLoadParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);
      }

    });

    function showOrHideTreeinfo(articleParent) {
      if ($("#treeInfoButton-"+articleParent).text() == "Näytä kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "inline");
        $("#treeInfoButton-"+articleParent).text("Piilota kuvion puustotiedot");
      } else if ($("#treeInfoButton-"+articleParent).text() == "Piilota kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "none");
        $("#treeInfoButton-"+articleParent).text("Näytä kuvion puustotiedot");
      }
    }

		function checkboxSelectFunction2(param) {
      const urlParts = window.location.href.split('?');
      let newSetParams = new URLSearchParams(urlParts[1]);

	  if (param) {
	  //if param is in filteredSets -> remove
	  //remove all params
	  //create sets again using filteredSets

	  let filteredSets = [];
      newSetParams.forEach(function(value, key) {
        if (key.toString().includes("sel")) {
            filteredSets.push(value);
        }
      });

	  if (filteredSets.includes(param.toString())) {
		filteredSets = filteredSets.filter(e => e !== param.toString())
	  } else {
		filteredSets.push(param.toString());
	  }

	  newSetParams.delete('page');
      [...newSetParams.keys()]
      .filter(key => key.toString().includes('sel'))
      .forEach(key => newSetParams.delete(key))

	  let setParamArray = [];
	  filteredSets.forEach(set => {
		setParamArray.push(set);
		const newIndex = setParamArray.length+1;
		newSetParams.append('sel['+newIndex+']', set);
	  })

	  newUrl = urlParts[0] + '?' + newSetParams.toString();
	  window.history.pushState({page: "another"}, "another page", newUrl);

	  } else {
		newSetParams.delete('page');
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))

		newUrl = urlParts[0] + '?' + newSetParams.toString();
		window.location.assign(newUrl);
	  }
    }

	function uncheckRemoved() {
		const urlParts = window.location.href.split('?');
		let newSetParams = new URLSearchParams(urlParts[1]);

		let filteredSets = [];
		newSetParams.forEach(function(value, key) {
		  if (key.toString().includes("sel")) {
				filteredSets.push(value.toString());
		  }
		});

		var array = [];
		var checkboxes = document.querySelectorAll('input[class=selectedBox]:checked')

		for (var i = 0; i < checkboxes.length; i++) {
		  array.push(checkboxes[i].id.substring(checkboxes[i].id.lastIndexOf("-") + 1).toString());
		}

		var realSelected = [];
		filteredSets.forEach(function(set) {
			if (!array.includes(set.toString()) && set.toString() !== '0') {
				realSelected.push(set.toString());
			}
		});

		let withoutDuplicates = [...new Set(realSelected)];

		newSetParams.delete('page');
		[...newSetParams.keys()]
			.filter(key => key.toString().includes('sel'))
			.forEach(key => newSetParams.delete(key))

		let setParamArray = [];
		withoutDuplicates.forEach(set => {
			setParamArray.push(set);
			const newIndex = setParamArray.length+1;
			newSetParams.append('sel['+newIndex+']', set);
		})

		newUrl = urlParts[0] + '?' + newSetParams.toString();
		for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
		window.history.pushState({page: "another"}, "another page", newUrl);

	}

	function useCurrentUrl() {
		var checkboxes = document.querySelectorAll('input[class=selectedBox]:checked')

		if (checkboxes.length < 1) {
			alert('Et ole valinnut uusia kuvioita!');
		} else {
			var url = window.location.href;
			window.location.assign(url);
		}
	}

    function checkboxSelectFunction(param) {
      const urlParts = window.location.href.split('?');
      let newSetParams = new URLSearchParams(urlParts[1]);

      if (param) {
        let setParamArray = [];
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => {
            setParamArray.push(key);
          })
        const newIndex = setParamArray.length+1;
        newSetParams.append('sel['+newIndex+']', param);
      } else {
        newSetParams.delete('page');
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))
      }

      newUrl = urlParts[0] + '?' + newSetParams.toString();
      window.location.assign(newUrl);
    }

	function checkboxDeselectAllFunction() {

	const urlParts = window.location.href.split('?');
    let newSetParams = new URLSearchParams(urlParts[1]);

    newSetParams.delete('page');
	[...newSetParams.keys()]
	  .filter(key => key.toString().includes('sel'))
	  .forEach(key => newSetParams.delete(key))

	newSetParams.set('sel[0]', 0);

	newUrl = urlParts[0] + '?' + newSetParams.toString();
	window.location.assign(newUrl);

    }

    function checkboxSelectFunction(param) {
      const urlParts = window.location.href.split('?');
      let newSetParams = new URLSearchParams(urlParts[1]);

      if (param) {
        let setParamArray = [];
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => {
            setParamArray.push(key);
          })
        const newIndex = setParamArray.length+1;
        newSetParams.append('sel['+newIndex+']', param);
      } else {
        newSetParams.delete('page');
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))
      }

      newUrl = urlParts[0] + '?' + newSetParams.toString();
      window.location.assign(newUrl);
    }

    function checkboxFunction(param) {
      const onLoadParts1 = window.location.href.split('?');
      let newSetParams = new URLSearchParams(onLoadParts1[1]);
      newSetParams.delete('page');

      let newSetIds = [];
      newSetParams.forEach(function(value, key) { //cant delete key here
        if (key.toString().includes("sel") && value != param) {
            newSetIds.push(value);
        }
      });

      [...newSetParams.keys()]
        .filter(key => key.toString().includes('sel'))
        .forEach(key => newSetParams.delete(key))

      newSetIds.map((element, index) => { //re-index!!!
        newSetParams.append('sel['+index+']', element);
      });
/*
      newSetParams.forEach(function(value, key) {
        console.log('newSetParams');
        console.log(value, key);
      });
*/
      const urlParts = window.location.href.split('?');
      newUrl = urlParts[0] + '?' + newSetParams.toString();
      //window.history.pushState({page: "another"}, "another page", newUrl);
      window.location.assign(newUrl);

    }

    function filterFunction(param) {
    let newUrl = url;

    console.log(param);

    const urlParts = newUrl.split('?');
    let params = new URLSearchParams(urlParts[1]);

    const checkBox = document.getElementById("filterNoTreesCheck");
    if (checkBox.checked == true) {
      params.set('filterNoTrees', true);
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    } if (checkBox.checked == false) {
      params.delete('filterNoTrees');
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    var operationDropdown = document.getElementById("operationDropdown");
    var operationDropdownValue = operationDropdown.options[operationDropdown.selectedIndex].value;
    if (operationDropdownValue !== 0) {
        params.set('operation', operationDropdownValue);
        params.delete('page');
        newUrl = urlParts[0] + '?' + params.toString();
    } if (operationDropdownValue == 0) {
      params.delete('operation');
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    window.location.assign(newUrl);
    }

    function getArticles() {
      //alert(url);
      console.log(url);
      window.location.assign(url);
    }

    </script>
{% endblock %}

{% endblock %}
