{% extends 'fi.base.html.twig' %}

{% block title%} POST Suunnitelma käyttäjälle&nbsp;{{ owner }} {% endblock %}

{% block body %}
<style>
    .container {
      margin-left: auto;
    }
	b {
	  font-size: 12px;
    }
	.navbar {
      display: none;
    }
	table,
	td,
	th {
	  //padding: 5px;
	  text-align: center;
	  border: 2px solid lightGray;
	  border-collapse: collapse;
	}
	@media print {
	  #pagebreakdiv { page-break-after: always; }
	}
</style>

          <div style="width: 255px; height: 47px; background-image: url('/images/greencarbonlogo.png'); display: inline-block;"></div>
		  <b style="position: absolute; margin-left: 15px; margin-top: 18px; font-size: 13px;">{{ topic }}</b>
<h6 style="display: block; font-size: 1.1rem;">HIILISUUNNITELMA</h6>

{%  for index, article in importedArticles %}
<div style="max-width: 900px; margin-bottom: 10px;">
<div class="row" style="font-size: 12px; padding 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 5px; border: 1px solid lightGray; border-radius: 5px;">
<b>Kuvio </b></b> {{article.id}} <b> | Alkuperäinen kuviotunnus: </b> {{article.standNumber}} <b>Kuvio: </b> {{article.index}}/{{ importedArticles|length }} <b>Tila: </b> {{article.propertyName}}</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 0px;">
 <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; min-width: 50px; max-width: 60px;"><b>Pinta-ala:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px; min-width: 80px; max-width: 80px;"><b>Pääryhmä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Kasvupaikka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Maalaji:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Kehitysluokka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Saavutettavuus:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px; max-width: 60px;"><b>Laatu:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px; max-width: 60px;"><b>Kasvu yht:</b></div>
 {#<div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Päivämäärä:</b></div>#}
 </div>
 <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 0px;">
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px; min-width: 60px; max-width: 50px;">{{ article.area|replace({'.': ","}) }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px; min-width: 80px; max-width: 80px;">{{ article.mainclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px;">{{ article.growplace }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px;">{{ article.soiltype }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px;">{{ article.developmentclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; border-left: 1px solid lightGray; padding: 0px;">{{ article.accessibility }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; border-left: 1px solid lightGray; max-width: 60px;">{{ article.quality }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; border-left: 1px solid lightGray; margin-right: 5px; border-right: 1px solid lightGray; max-width: 60px;">{{ article.totalGrowth|replace({'.': ","}) }}</div>
   {#<div class="col" style="max-width: 800px; font-size: 12px; padding: 0px; border-left: 1px solid lightGray;">{{ article.dateFi }}</div>#}
   </div>

{% if not article.noTreeData %}
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px;">
  <b>Kuvion puustotiedot:</b>
</div>
 <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Puulaji:</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Ikä/v.</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Tilavuus m³/kuvio</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Tilavuus m³/ha</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Läpimitta, cm</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Pituus, m</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding-left: 3px; padding: 0px;"><b>Kasvu m³/ha/v</b></div>
</div>
<div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Yhteensä</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalAge|round() }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalVolumePerArea|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalVolumeHa|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalDiameter|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalLength|replace({'.': ","}) }}</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>{{ article.totalGrowth|replace({'.': ","}) }}</b></div>
</div>
  {% if article.mantyAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Mänty</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.mantyGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.kuusiAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Kuusi</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.kuusiGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.rauduskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Rauduskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.rauduskoivuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.hieskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Hieskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.hieskoivuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.haapaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Haapa</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.haapaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.harmaaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Harmaaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.harmaaleppaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.tervaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Tervaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.tervaleppaGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.havupuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Havupuu</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.havupuuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
  {% if article.lehtipuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">Lehtipuu</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuAge|round() }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuVolume|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuVolumeHa|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuDiameter|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuLength|replace({'.': ","}) }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.lehtipuuGrowth|replace({'.': ","}) }}</div>
  </div>
  {% endif %}
{% endif %}
<div class="row" style="margin-top: 5px; padding-left: 5px; border-bottom: 1px solid lightgray; border-top: 1px solid gray; border-left: 1px solid gray; border-right: 1px solid gray; border-top-right-radius: 5px; border-top-left-radius: 5px;">
  <b style="margin: auto; font-size: 14px;">Laskennan tulokset:</b>
</div>
<div class="row" style="padding-left: 5px; border-bottom: 1px solid lightgray; border-left: 1px solid gray; border-right: 1px solid gray;">
<div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Toimenpiteet:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Toimenpit. jälk. kasvunlisäys:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Hiilensidonnan lisäisyys:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Vaikutusaika/sopimuskausi:</b></div>
 <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;"><b>Kok.lisäisyys sopimuskaudella:</b></div>
</div>
 <div class="row" style="border-bottom: 1px solid gray; border-right: 1px solid gray; border-left: 1px solid gray; padding-left: 5px; background: white; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; margin-bottom: 25px; padding-bottom: 5px;">
	<div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.futureOperations }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.result2|replace({'.': ","}) }} m³/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.result2|replace({'.': ","}) }} CO2tn/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.planYears|replace({'.': ","}) }} vuotta</div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding: 0px;">{{ article.result4|replace({'.': ","}) }} CO2tn/kuvio</div>
 </div>
 </div>
</div></div>
   {% endfor %}
   
<div id="pagebreakdiv"></div>

<div style="width: 255px; height: 47px; background-image: url('/images/greencarbonlogo.png'); display: inline-block;"></div>
<b style="position: absolute; margin-left: 15px; margin-top: 18px; font-size: 13px;">{{ topic }}</b>
   
<div style="max-width: 910px; margin-top: 5px; margin-bottom: 0px;">
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px;">
  <b style="font-size: 14px; margin: auto;">Hiilisuunnitelman yhteenveto:</b>
</div>
</div><br>

<div style="margin-left: -15px;">
<table style="font-size: 13px; table-layout: fixed;">
      <tr>
        <th style="width: 50px; min-width: 50px; max-width: 50px;">Kuvion ID</th>
        <th style="width: 50px; min-width: 50px; max-width: 50px;">Kuvio- tunnus</th>
		<th style="width: 115px; min-width: 50px; max-width: 115px;">Kiinteistötunnus</th>
		<th style="width: 115px; min-width: 115px; max-width: 115px;">Kiinteistön nimi</th>
		<th style="width: 60px; min-width: 60px; max-width: 60px;">Kuvion pinta-ala, ha</th>
		<th style="width: 90px; min-width: 90px; max-width: 90px;">Toimenpit. jälk. kasvunlisäys, m3/kuvio/v</th>
		<th style="width: 100px; min-width: 100px; max-width: 100px;">Hiilensidonnan lisäisyys, CO2tn/kuvio/v</th>
		<th style="width: 90px; min-width: 90px; max-width: 90px;">Sopimus- kausi, vuosia (5/10)</th>
		<th style="width: 85px; min-width: 85px; max-width: 85px;">Sopimus- korvaus, €/CO2tn (alv 0%)</th>
		<th style="width: 85px; min-width: 85px; max-width: 85px;">Korvaus- summa, €/vuosi (alv 0%)</th>
		<th style="width: 95px; min-width: 95px; max-width: 95px;">Korvaus- summa, €/sopimus- kausi (alv 0%)</th>
      </tr>
   {% for index, article in importedArticles %}
      <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.standNumber }}</td>
		<td style="width: 115px; min-width: 50px; max-width: 115px; word-wrap: break-word;">{{ article.propertyIdentifier }}</td>
		<td style="width: 115px; min-width: 50px; max-width: 115px; word-wrap: break-word;">{{ article.propertyName }}</td>
		<td>{{ article.area|replace({'.': ","}) }}</td>
		<td>{{ article.result1|replace({'.': ","}) }}</td>
		<td>{{ article.result1|replace({'.': ","}) }}</td>
		<td>{{ article.planYears }}</td>
		<td>{{ cost }}</td>
		<td>{{ article.compensationSum|replace({'.': ","}) }}</td>
		<td>{{ article.compensationSumPerPlantime|replace({'.': ","}) }}</td>
      </tr>
   {% endfor %}
    </table>
</div>
<div style="max-width: 900px; margin-left: -15px;">
<table style="font-size: 13px;">
  <tr>
	<th style="width: 50px; min-width: 50px; max-width: 50px;">Yht.</th>
	<th style="width: 50px; min-width: 50px; max-width: 50px;"></th>
	<th style="width: 115px; min-width: 115px; max-width: 115px;"></th>
	<th style="width: 115px; min-width: 115px; max-width: 115px;"></th>
	<th style="width: 60px; min-width: 60px; max-width: 60px;">{{ totalArea|replace({'.': ","}) }}</th>
	<th style="width: 90px; min-width: 90px; max-width: 90px;">{{ result1Total|replace({'.': ","}) }}</th>
	<th style="width: 100px; min-width: 100px; max-width: 100px;">{{ result1Total|replace({'.': ","}) }}</th>
	<th style="width: 90px; min-width: 90px; max-width: 90px;"></th>
	<th style="width: 85px; min-width: 85px; max-width: 85px;"></th>
	<th style="width: 85px; min-width: 85px; max-width: 85px;">{{ totalCompensationSum|replace({'.': ","}) }}</th>
	<th style="width: 95px; min-width: 95px; max-width: 95px;">{{ totalCompensationSumPerPlantime|replace({'.': ","}) }}</th>
  </tr>
</table>
</div>
<br>
<br>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>

    </script>
{% endblock %}

{% endblock %}