{% extends 'fi.base.html.twig' %}

{% block title%} Käyttäjän {{ owner }} hiilisuunnitelma {% endblock %}

{% block body %}
 <h2>Käyttäjän {{ owner }} hiilisuunnitelma</h2>
  {#<hr>
   <a href="/fi/functions/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   <a href="/fi/property/{{ owner }}/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a>#}
   <hr>

<div style="padding-left: 5px; padding-bottom: 10px; border: 1px solid lightGray; margin-bottom: 10px; border-radius: 5px;">
<b>Hae kuvioita seuraavilla parametreilla:</b><br><hr style="padding: 0px; margin-bottom: 5px; margin-top: 0px;">
Poista puuttomat kuviot:
<input type="checkbox" id="filterNoTreesCheck" onclick="filterFunction()"><br>
Toiminto:
<select id="operationDropdown" onchange="filterFunction()">
  <option value="0" selected>Valitse</option>
  <option value="fertilization">Lannoitus</option>
  <option value="afforestation">Metsitys</option>
</select>
{#Kasvupaikka:
<select id="growplaceDropdown" onchange="filterFunction()">
  <option value="0" selected>All</option>
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>
Maalaji:
<select id="soiltypeDropdown" onchange="filterFunction()">
  <option value="0" selected>All</option>
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>#}
{#<button style="float: right; margin-right: 20px;" class="btn btn-info btn-sm" onclick="getArticles()">Filter articles:</button><hr>#}
</div>
<div id="filterSettingsUsedDiv">
</div>
<br>

{% if removedArticles|length > 0 %}
<div id="removedArticlesDiv" style="padding-bottom: 20px; padding-left: 10px; margin-bottom: 40px; border: 1px solid lightGray;">
  <h6 style="display: inline;">Poistetut kuviot ({{ removedArticles|length }}kpl):</h6><small> Nämä kuviot on poistettu pois ruksaamalla</small>
  <br><button id="" style="margin-top: 5px;" type="button" class="btn btn-info btn-sm" onclick="checkboxSelectFunction()">Poista valinnat (hae kaikki kuviot)</button>
  <div class="container" style="margin-top: 5px; margin-left: 0px">
    <div class="row">
      <div class="col-md-1" style="border: 1px solid gray;"><b>Palauta</b></div>
      <div class="col-md-1" style="border: 1px solid gray;"><b>ID:</b></div>
      <div class="col-md-3" style="border: 1px solid gray;"><b>Pääryhmä:</b></div>
      <div class="col-md-5" style="border: 1px solid gray;"><b>Kasvupaikka:</b></div>
      <div class="col-md-2" style="border: 1px solid gray;"><b>Lisätiedot:</b></div>
    </div>
  </div>
  <div style="max-height: 140px; overflow-y: auto;">
  {%  for index, article in removedArticles %}
  <div class="container" style="margin-top: 5px; margin-left: 0px">
    <div class="row" style="padding-bottom: 5px; border-bottom: 1px solid lightGray;">
      <div class="col-md-1" style="text-align: center;"><input type="checkbox" id="articleSelectCheckbox-{{ article.id }}" onclick="checkboxSelectFunction({{ article.id }})"></div>
      <div class="col-md-1" style="text-align: center;">{{ article.id }}</div>
      <div class="col-md-3 trimText">{{ article.mainclass }}</div>
      <div class="col-md-5 trimText">{{ article.growplace }}</div>
      <div class="col-md-2"><a href="/fi/property/{{article.propertyId}}/importedarticles/{{article.id}}/show" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä lisätiedot</a></div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endif %}

{%  for index, article in importedArticlesPaginated %}
<div class="row" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; box-shadow: 1px 1px 10px #808080; border-radius: 10px;">
<b>Valitse kuvio </b><input type="checkbox" id="articleCheckbox-{{ article.id }}" onclick="checkboxFunction({{ article.id }})"><b> | ID: </b> {{article.id}} <b>Kuvio: </b> {{article.index}}/{{ importedArticles|length }} <b>Tila: </b> {{article.propertyName}}
</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px; font-size: 15px;"><b>ℹ️ Alue:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Pääryhmä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvupaikka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Maalaji:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Kehitysluokka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Saavutettavuus:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Laatu:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvu yht:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Toimenpiteet:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Päivämäärä:</b></div>
 </div>
 <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.area }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mainclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.growplace }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.soiltype }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.developmentclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.accessibility }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.quality }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.totalGrowth }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.operations }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.dateFi }}</div>
   </div>

{% if not article.noTreeData %}
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
  <b>Kuvion puustotiedot:</b>
</div>
 <div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px; font-size: 15px;"><b>Puulaji:</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Ikä/v.</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Tilavuus m³/kuvio</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Tilavuus m³/ha</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Läpimitta, cm</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Pituus, m</b></div>
  <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvu m³/ha/v</b></div>
</div>
<div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px; font-size: 13px;"><b>Yhteensä</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px;"><b>1</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px;"><b>2</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px;"><b>3</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px;"><b>4</b></div>
  <div class="col" style="max-width: 800px; font-size: 13px;"><b>5</b></div>
  <div class="col" style="max-width: 800px; font-size: 12px;"><b>6</b></div>
</div>
  {% if article.mantyAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Mänty</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mantyAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.mantyVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mantyVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mantyDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mantyLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.mantyGrowth }}</div>
  </div>
  {% endif %}
  {% if article.kuusiAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Kuusi</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.kuusiAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.kuusiVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.kuusiVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.kuusiDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.kuusiLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.kuusiGrowth }}</div>
  </div>
  {% endif %}
  {% if article.rauduskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Rauduskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.rauduskoivuAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.rauduskoivuVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.rauduskoivuVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.rauduskoivuDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.rauduskoivuLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.rauduskoivuGrowth }}</div>
  </div>
  {% endif %}
  {% if article.hieskoivuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Hieskoivu</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.hieskoivuAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.hieskoivuVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.hieskoivuVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.hieskoivuDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.hieskoivuLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.hieskoivuGrowth }}</div>
  </div>
  {% endif %}
  {% if article.haapaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Haapa</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.haapaAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.haapaVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.haapaVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.haapaDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.haapaLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.haapaGrowth }}</div>
  </div>
  {% endif %}
  {% if article.harmaaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Harmaaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.harmaaleppaAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.harmaaleppaVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.harmaaleppaVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.harmaaleppaDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.harmaaleppaLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.harmaaleppaGrowth }}</div>
  </div>
  {% endif %}
  {% if article.tervaleppaAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Tervaleppa</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.tervaleppaAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.tervaleppaVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.tervaleppaVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.tervaleppaDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.tervaleppaLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.tervaleppaGrowth }}</div>
  </div>
  {% endif %}
  {% if article.havupuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Havupuu</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.havupuuAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.havupuuVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.havupuuVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.havupuuDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.havupuuLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.havupuuGrowth }}</div>
  </div>
  {% endif %}
  {% if article.lehtipuuAge > 1 %}
  <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px; font-size: 13px;">Lehtipuu</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.lehtipuuAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.lehtipuuVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.lehtipuuVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.lehtipuuDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.lehtipuuLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.lehtipuuGrowth }}</div>
  </div>
  {% endif %}
{% endif %}
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
  <b>Laskennan tulokset:</b>
</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px; font-size: 15px;"><b>Toimenpiteen jälkeinen kasvu:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Hiilensidonnan lisäisyys:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Vaikutusaika/sopimuskausi:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kok.lisäisyys sopimuskaudella:</b></div>
</div>
 <div class="row" style="padding-left: 5px; background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px; font-size: 13px;">6,9 m³/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">3,0 CO2tn/ha/v</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">5 vuotta</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">21,8 CO2tn/kuvio</div>
 </div>
<br>
</div><hr><br>
   {% endfor %}
<hr>
<form method="POST" style="margin-top: 30px;">
   <input type="hidden" name="importedArticlesJsoned" value="{{ importedArticlesJsoned }}" />
   <button type="submit" class="btn btn-primary">Tee sopimusteksti</button>
   <a href="/fi/functions" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
</form>
<br>
{#<button style="float: left; margin-right: 20px;" class="btn btn-info btn-sm" onclick="nextPage()">Next page</button>
<button style="float: left; margin-right: 20px;" class="btn btn-info btn-sm" onclick="previousPage()">Previous page</button>#}

<div class="navigation">
    {{ knp_pagination_render(importedArticlesPaginated) }}
</div><br>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    var url = window.location.href;
/*
    if (url.includes("?operation=0")) {
      const newUrl = url.replace("?operation=0", "");
      window.location.replace(newUrl);
    }
*/
    $('.dropdown-toggle').dropdown();
    $('[data-toggle="tooltip"]').tooltip();
    $(document).ready(function () {

    $("#filterSettingsUsedDiv").empty();
    const h5 = document.createElement("h5");
    h5.style = "margin-left: 0px";
    h5.innerHTML = 'Löydettiin {{ importedArticles|length }} kuviota';
    document.getElementById("filterSettingsUsedDiv").appendChild(h5);
    $('#filterSettingsUsedDiv').css({'padding': '10px'});

    let pageLoadUrl = new URL(url);
    const onLoadParams = new URLSearchParams(pageLoadUrl.search.slice(1));

    if (onLoadParams.has('filterNoTrees')) {
      $("#filterNoTreesCheck").prop("checked", true);

      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      b.innerHTML = ' ✔️ Filteröidään puuttomat kuviot pois';
      document.getElementById("filterSettingsUsedDiv").appendChild(b);

      //const br = document.createElement("br");
      //document.getElementById("filterSettingsUsedDiv").appendChild(br);

    } else {
      $("#filterNoTreesCheck").prop("checked", false);
    }

    if (onLoadParams.has('operation')) {
      const operationValue = onLoadParams.get("operation");
      $('#operationDropdown').val(operationValue);
      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      if (operationValue == 'fertilization') {
        b.innerHTML = ' ✔️ Haetaan kuviot lannoitukselle';
      } if (operationValue == 'afforestation') {
        b.innerHTML = ' ✔️ Haetaan kuviot metsitykselle';
      } if (operationValue == '0') {
        //alert('Remove param!');
      }
      document.getElementById("filterSettingsUsedDiv").appendChild(b);
    }

    const onLoadParts1 = url.split('?');
    let onLoadParams1 = new URLSearchParams(onLoadParts1[1]);
    onLoadParams1.delete('page');
    [...onLoadParams1.keys()]
      .filter(key => key.toString().includes('sel'))
      .forEach(key => onLoadParams1.delete(key))
    if (onLoadParams1.toString().length > 0) { //'page', 'sel[]' are ignored
      const br = document.createElement("br");
      document.getElementById("filterSettingsUsedDiv").appendChild(br);
      const button = document.createElement("button");
      button.style.marginTop = '15px';
      button.className = "btn btn-info btn-sm add-user";
      button.onclick = function() {
        let newUrl = url.split('?').shift();
        window.location.assign(newUrl);
      };
      button.innerHTML = 'Poista valinnat';
      document.getElementById("filterSettingsUsedDiv").appendChild(button);
    }

    $('#growplaceDropdown').val('0');
    $('#soiltypeDropdown').val('0');

      var itemId = 0;
      var itemName = '';
      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

      });

      $('#deleteBtn').click(function (event) {
        document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
          var itemId = 0;
          var itemName = '';
        });
        /*
          const deleteUrl = window.location + '/delete/' + articleId
          fetch(deleteUrl).then(response => {
          location.replace(window.location)
        })*/
      });

      var jsonedArticleIDs = "{{ jsonedArticleIDs }}";
      var newJsonedArticleIDs = jsonedArticleIDs.replace(/&quot;/g, '"');
      var articleIDsList = JSON.parse(newJsonedArticleIDs);
      articleIDsList.map((element, index) => {
        $("#articleCheckbox-"+element).prop("checked", true);
      });
      if (articleIDsList.length < 6 && onLoadParams.has('page')) {
        onLoadParams.delete('page');
        const urlParts = url.split('?');
        newUrl = urlParts[0] + '?' + onLoadParams.toString();
        window.location.assign(newUrl);
      }
      if (!onLoadParams.has('sel[]') && !onLoadParams.has('sel[0]')) {
        articleIDsList.map((element, index) => {
          onLoadParams.append('sel['+index+']', element);
        });
        const urlParts = url.split('?');
        newUrl = urlParts[0] + '?' + onLoadParams.toString();
        window.history.pushState({page: "another"}, "another page", newUrl);
      }

    });

    function showOrHideTreeinfo(articleParent) {
      if ($("#treeInfoButton-"+articleParent).text() == "Näytä kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "inline");
        $("#treeInfoButton-"+articleParent).text("Piilota kuvion puustotiedot");
      } else if ($("#treeInfoButton-"+articleParent).text() == "Piilota kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "none");
        $("#treeInfoButton-"+articleParent).text("Näytä kuvion puustotiedot");
      }
    }

    function checkboxSelectFunction(param) {
      const urlParts = window.location.href.split('?');
      let newSetParams = new URLSearchParams(urlParts[1]);

      if (param) {
        let setParamArray = [];
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => {
            setParamArray.push(key);
          })
        const newIndex = setParamArray.length+1;
        newSetParams.append('sel['+newIndex+']', param);
      } else {
        newSetParams.delete('page');
        [...newSetParams.keys()]
          .filter(key => key.toString().includes('sel'))
          .forEach(key => newSetParams.delete(key))
      }

      newUrl = urlParts[0] + '?' + newSetParams.toString();
      window.location.assign(newUrl);
    }

    function checkboxFunction(param) {
      const onLoadParts1 = window.location.href.split('?');
      let newSetParams = new URLSearchParams(onLoadParts1[1]);
      newSetParams.delete('page');

      let newSetIds = [];
      newSetParams.forEach(function(value, key) { //cant delete key here
        if (key.toString().includes("sel") && value != param) {
            newSetIds.push(value);
        }
      });

      [...newSetParams.keys()]
        .filter(key => key.toString().includes('sel'))
        .forEach(key => newSetParams.delete(key))

      newSetIds.map((element, index) => { //re-index!!!
        newSetParams.append('sel['+index+']', element);
      });
/*
      newSetParams.forEach(function(value, key) {
        console.log('newSetParams');
        console.log(value, key);
      });
*/
      const urlParts = window.location.href.split('?');
      newUrl = urlParts[0] + '?' + newSetParams.toString();
      //window.history.pushState({page: "another"}, "another page", newUrl);
      window.location.assign(newUrl);

    }

    function filterFunction(param) {
    let newUrl = url;

    console.log(param);

    const urlParts = newUrl.split('?');
    let params = new URLSearchParams(urlParts[1]);

    const checkBox = document.getElementById("filterNoTreesCheck");
    if (checkBox.checked == true) {
      params.set('filterNoTrees', true);
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    } if (checkBox.checked == false) {
      params.delete('filterNoTrees');
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    var operationDropdown = document.getElementById("operationDropdown");
    var operationDropdownValue = operationDropdown.options[operationDropdown.selectedIndex].value;
    if (operationDropdownValue !== 0) {
        params.set('operation', operationDropdownValue);
        params.delete('page');
        newUrl = urlParts[0] + '?' + params.toString();
    } if (operationDropdownValue == 0) {
      params.delete('operation');
      params.delete('page');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    window.location.assign(newUrl);
    }

    function getArticles() {
      //alert(url);
      console.log(url);
      window.location.assign(url);
    }

    </script>
{% endblock %}

{% endblock %}
