{% extends 'base.html.twig' %}

{# templates/registration/register.html.twig #}

{% block body %}
<br>
<h1 class="h3 mb-3 font-weight-normal">Register</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit" class="btn btn-outline-primary btn-md">Register!</button>
{{ form_end(form) }}

{% endblock %}
