{% extends 'en.base.html.twig' %}

{% block title%} Add a new user{% endblock %}

{% block body %}
 <h2>Add a new user</h2><hr>
   <a href="/en/company" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Go back</a><hr>
<h4 style="margin-bottom: 20px;">Company:</h4>
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
<div class="col" style="max-width: 800px;"><b>ℹ️ Company name:</b></div>
<div class="col" style="max-width: 800px;"><b>ℹ️ Business ID</b></div>
<div class="col" style="max-width: 800px;"><b>ℹ️ Industry field</b></div>
<div class="col" style="max-width: 800px;"><b> </b></div>
 {#<div class="col">✎/✖</div>#}
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px;">{{ company.name }}</div>
   <div class="col" style="max-width: 800px;">{{ company.businessId }}</div>
   <div class="col" style="max-width: 800px;">{{ company.industry }}</div>
   <div class="col" style="max-width: 800px;">
   <a href="/en/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update company</a></div>
   </div>

   <hr>
   <h4 style="margin-bottom: 20px;">Search for a user</h4>
   <p style="margin-bottom: 0px;">Write the user's email below:</p>
   <small style="margin-bottom: 5px;">Start typing the email and the system will give you the result(s)</small>
   <input type="text" style="margin-top: 5px; min-width: 230px; padding-left: 5px; text-align: left;" class="form-control newStyle" name="input">

   <br>
   <h5>Search results:</h5>
   <div id="maindiv" style="padding-left: 5px; margin-bottom: 5px;">
   </div>
   <br><hr>

   <h4 style="margin-bottom: 20px;">Users added to the company:</h4>

    <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     {#<div class="col">✎/✖</div>#}
     </div>
     {% for index, user in company.users %}
     <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
      <div class="col" style="max-width: 800px;"><b>Name:</b></div>
      <div class="col" style="max-width: 800px;"><b>ℹ️ Username:</b></div>
      <div class="col" style="max-width: 800px;"><b>ℹ️ Remove user:</b></div>
      {#<div class="col">✎/✖</div>#}
      </div>
      <div class="row" style="padding-left: 5px; border: '1px solid gray';
       background: white; border-radius: 5px; margin-top: 5px;">
        <div class="col" style="max-width: 800px;">
        {% if user.name == '' %}
         No added name
        {% else %}
         {{ user.name }}
        {% endif %}
        </div>
        <div class="col" style="max-width: 800px;">{{ user.username }}</div>
        <div class="col" style="max-width: 800px;">
        <a href="/en/company/{{ company.id }}/removeuser/{{ user.id }}" style="display: none;" id="deleteBtnHidden-{{ user.id }}" class="btn btn-danger">Delete</a>
        <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ user.id }}" data-name="user {{ user.username }} with ID">
        Remove user from the company
        </a>
        </div>
        </div>
       {% endfor %}

<hr>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    const companyId = window.location.toString().split("/")[5];
    const locale = window.location.toString().split("/")[3];

    $('input[name="input"]').on('input', function() {
      //console.log($(this).val().length);
      if($(this).val().length == 0) {
          $("#maindiv").empty();
      }
      if($(this).val().length > 3) {
      //console.log('Fetching!');
      fetch('/company/'+companyId+'/searchuser/'+$(this).val(), {
          headers : {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
           }
        })
        .then((response)=>response.json())
        .then(users => {
          $("#maindiv").empty();
          const h5 = document.createElement("h5");
          h5.style = "margin-left: -5px";
          h5.innerHTML = 'Search gave ' + users.length + ' users:';
          document.getElementById("maindiv").appendChild(h5);

          users.forEach((user, i) => {
            if (user.name == "") {
              user.name = "No added name";
            }
            user.index = i+1
            let addedDiv = '';
            if (user.added) {
              addedDiv = '<a class="btn btn-danger btn-sm remove-user" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="'+user.id+'" data-name="'+user.username+'">'+
              'Remove user from the company'+
              '</a>'+
              '</div>'
            } else {
              addedDiv = '<a class="btn btn-info btn-sm add-user" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="'+user.id+'" data-name="'+user.username+'">'+
              'Add user to the company'+
              '</a>'+
              '</div>'
            }

            const div = document.createElement("div");
            div.style = "height: 80px; margin-bottom: 3px;";
            div.innerHTML = '<div class="row" style="width: 800px; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">'+
            '<div class="col" style="max-width: 800px;"><b>Name:</b><br> '+user.name+'</div>'+
            '<div class="col" style="max-width: 800px;"><b>ℹ️ Username:</b><br> '+user.username+' </div>'+
            '<div class="col" style="max-width: 800px;">'+
            addedDiv +
            '{#<div class="col">✎/✖</div>#}'+
            '</div>'

            document.getElementById("maindiv").appendChild(div);

            $('.add-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString() + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Add user <b>"+itemName+"</b> to the company?</p>" + "<a class='btn btn-info btn-sm' href='"+newUrl+"'>Add user</a>";

            });

            $('.remove-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString().replace("adduser", "removeuser") + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Remove user <b>"+itemName+"</b> from the company?</p>" + "<a class='btn btn-danger btn-sm' href='"+newUrl+"'>Remove user</a>";

            });

          })
          if($(this).val().length == 0) {
              $("#maindiv").empty();
          }
        })
      }
    });

    $(document).ready(function () {
      var itemId = 0;
      var itemName = '';
      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          console.log(itemName);
          console.log(itemId);

          document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Delete</button>';
          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Remove "+newItemName+" "+newId+"?</p>";

          $('#deleteBtn').click(function (event) {
            document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
              var itemId = 0;
              var itemName = '';
            });
          });

      });

    });

    </script>
{% endblock %}
