{% extends 'en.base.html.twig' %}

{% block title%} Yritykset {% endblock %}

{% block body %}
 <h2>Companies:</h2><hr>
 {% if app.user.role is not same as('') %}
  <a href="/en/newcompany"><button type="button" class="btn btn-outline-primary btn-md">Add a new company</button></a>
 {% else %}
  <a href="/"><button type="button" class="btn btn-outline-primary btn-md disabled">Add a new company</button></a>
 {% endif %}
<hr>

{#<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> 123kpl
</div><div class="row">
  <b> </b>
</div></div>#}

<h4>List of companies ({{ companies|length }} kpl):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>ℹ️ Name</b></div>
  <div class="col" style="max-width: 800px;"><b>ℹ️ Business ID</b></div>
  <div class="col" style="max-width: 800px;"><b>ℹ️ Industry</b></div>
  <div class="col" style="max-width: 800px;"><b>Users</b></div>
  <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for company in companies %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px;">{{ company.name }}</div>
    <div class="col" style="max-width: 800px;">{{ company.businessId }}</div>
    <div class="col" style="max-width: 800px;">{{ company.industry }}</div>
    <div class="col" style="max-width: 800px;">{{ company.users|length }}
    {% if company.users|length > 1 %}
     users
    {% else %}
     user
    {% endif %}</div>
    <div class="col" style="max-width: 800px;"><a href="/en/company/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
    {% if app.user.role is not same as('') %}
     <a href="/en/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a></div>
    {% else %}
     <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Update</a></div>
    {% endif %}
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}

{% endblock %}
