{% extends 'en.base.html.twig' %}

{% block title%}Add a company{% endblock %}

{% block body %}

  <h2>Add a company</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Company name</b></th>
     <th><b>ℹ️ Business ID</b></th>
     <th><b>ℹ️ Industry field</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <input data-toggle="tooltip" title="Name of the company" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.name }}" class="form-control newStyle" defaultValue="123" name="name" required autofocus>
         </td>
         <td>
         <input data-toggle="tooltip" title="Business ID of the company" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.businessId }}" class="form-control newStyle" defaultValue="123" name="businessId" required>
         </td>
         <td>
         <input data-toggle="tooltip" title="Companys's industry field" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.industry }}" class="form-control newStyle" defaultValue="123" name="industry" required>
         </td>
         <td>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Add company</button>
   <a href="/en/company" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Cancel</a>
   </form>

  <br><br><br><br>

{% endblock %}
