{% extends 'fi.base.html.twig' %}

{% block title%}Yrityksen lisäys{% endblock %}

{% block body %}

  <h2>Yrityksen lisäys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Toiminimi</b></th>
     <th><b>ℹ️ Y-tunnus</b></th>
     <th><b>ℹ️ Toimiala</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <input data-toggle="tooltip" title="Yrityksen toiminimi" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.name }}" class="form-control newStyle" defaultValue="123" name="name" required autofocus>
         </td>
         <td>
         <input data-toggle="tooltip" title="Yrityksen Y-tunnus" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.businessId }}" class="form-control newStyle" defaultValue="123" name="businessId" required>
         </td>
         <td>
         <input data-toggle="tooltip" title="Yrityksen toimiala" type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.industry }}" class="form-control newStyle" defaultValue="123" name="industry" required>
         </td>
         <td>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Lisää yritys</button>
   <a href="/fi/company" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

  <br><br><br><br>

{% endblock %}
