{% extends 'en.base.html.twig' %}

{% block title%} Questions {% endblock %}

{% block javascripts %}
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }
    </script>
{% endblock %}

{% block body %}
 <h2>❔ Questions:</h2><hr>
 <a href="/en/newquestion"><button type="button" class="btn btn-outline-primary btn-md">Add a new question</button></a>
<hr>

{#<h4>ℹ️ Information:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> 123kpl
</div><div class="row">
  <b> </b>
</div></div>#}

<h4>❔ List of questions ({{ allQuestionsLength }} total):</h4>
{% if questions|length > 0 %}
 <small>Showing {{ questions|length }} on this page, which is: {{ currentPageQuestionsFirst }}-{{ currentPageQuestionsLast }}/{{ allQuestionsLength }}</small><hr style="margin-top: 0px;">
{% endif %}
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 900px; text-align: center;"><b>ℹ️ Content</b></div>
  <div class="col" style="max-width: 400px; text-align: center;"><b>ℹ️ Category</b>
  <form method="GET" style="display: inline;">
      <select style="border: 1px solid lightGray; border-radius: 5px;" name='filteredBy' onchange='myFunction(this.name, this.value)'>
           <option value='all'>
           {% if filteredBy == '' %}
            Choose
           {% elseif filteredBy == 'transportation' %}
            Transportation
           {% elseif filteredBy == 'recycling' %}
            Recycling
           {% elseif filteredBy == 'electricity' %}
            Electricity
           {% elseif filteredBy == 'all' %}
            All
           {% endif %}</option>
           {% if filteredBy is not same as('transportation') %}<option value='transportation'>Transportation</option>{% endif %}
           {% if filteredBy is not same as('recycling') %}<option value='recycling'>Recycling</option>{% endif %}
           {% if filteredBy is not same as('electricity') %}<option value='electricity'>Electricity</option>{% endif %}
           {% if filteredBy is not same as('all') %}<option value='all'>All</option>{% endif %}
      </select>
  </form>
  </div>
  <div class="col" style="max-width: 200px; text-align: center;"><b>ℹ️ Language</b>
  <form method="GET" style="display: inline;">
      <select style="border: 1px solid lightGray; border-radius: 5px;" name='language' onchange='myFunction(this.name, this.value)'>
           <option value='all'>
           {% if language == '' %}
            Choose
           {% elseif language == 'english' %}
            English
           {% elseif language == 'finnish' %}
            Finnish
           {% elseif language == 'all' %}
            All
           {% endif %}</option>
           {% if language is not same as('english') %}<option value='english'>English</option>{% endif %}
           {% if language is not same as('finnish') %}<option value='finnish'>Finnish</option>{% endif %}
           {% if language is not same as('all') %}<option value='all'>All</option>{% endif %}
      </select>
  </form>
  </div>
  <div class="col" style="max-width: 100px; text-align: center;"><b>ℹ️ ID</b></div>
  {#<div class="col" style="max-width: 800px;"><b>👷👷 Users</b></div>#}
  <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>

  {%  for question in questions %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 900px;">{{ question.content }}</div>
    <div class="col" style="max-width: 400px; text-align: center;">{% if question.category == 'transportation' %}
     Transportation
    {% elseif question.category == 'recycling' %}
     Recycling
    {% elseif question.category == 'electricity' %}
     Electricity
    {% else %}
     Other
    {% endif %}</div>
    <div class="col" style="max-width: 200px; text-align: center;">
    {% if question.language == 'english' %}
     English
    {% elseif question.language == 'finnish' %}
     Finnish
    {% else %}
     Other
    {% endif %}
    </div>
    <div class="col" style="max-width: 100px; text-align: center;">{{ question.id }}</div>
    {#<div class="col" style="max-width: 800px;">321</div>>#}
    <div class="col" style="max-width: 800px;"><a href="/en/question/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
    <a href="/en/question/update/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a></div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}
    <hr>
    <div class="navigation">
        {{ knp_pagination_render(questions) }}
    </div><br><br><br>

{% endblock %}
