{% extends 'en.base.html.twig' %}

{% block title%} New question {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    var length = 1;
    document.querySelector("#targetTime").valueAsDate = new Date();

    function myFunction(name, value) {
    length = length + 1;

    const div = document.createElement("div");
    div.id = "question"+length;
    div.style = "max-width: 600px";
    div.innerHTML = '<br><br><div style="border: 1px solid gray; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">'+
        '<p style="border-bottom: 1px solid gray; margin-bottom: 0px; display: block;">Kysymys-ID: '+length+'</p>'+
        '<label for="text" style="margin-bottom: 0px;">Kysymysteksti:</label>'+
        '<input type="text2" style="height: 30px;" class="form-control" name="parents[parent'+length+'][content]" required>'+
        //'<label for="text" style="margin-bottom: 0px;">Ajankohta (kk/vuosi):</label>'+
        //'<input type="date" id="targetTime-'+length+'" min="2000-01-01" max="2030-01-01" style="height: 30px; padding-top: 0px;" class="form-control" name="parents[parent'+length+'][targetTime]" required>'+
        '<label for="text2" style="margin-bottom: 0px;">Faktori:</label>'+
        '<select class="form-control" style="padding-top: 2px; height: 32px; margin-bottom: 5px;" name="parents[parent'+length+'][factor]">'+
        '{% for factor in factors %}'+
        '<option value="{{ factor.id}}">{{factor.title_fi}}  (ID: {{ factor.id }})</option>'+
        '{% endfor %}'+
        '</select>'+
        '<button style="margin-top: 10px;" type="button" class="btn btn-default" onclick="removeQuestion('+length+')">Poista</button>'

    document.getElementById("extras").appendChild(div);
    document.querySelector("#targetTime-"+length).valueAsDate = new Date();
    }

    function removeQuestion(questionNumber) {
      //length = length - 1;
      $("#question"+questionNumber).remove();
    }
    </script>
{% endblock %}

{% block body %}
 {% if formName is not same as('') %}
 <h4>Kysymysten luonti lomakkeelle "{{ formName }}"</h4>
   <hr>Lomakkeen välilehdet:
   {% if tabs|length < 1 %}
   Form has no tabs
   {% endif %}
  {% else %}
  <h4>Question to a new form</h4>
 {% endif %}

   {%  for tab in tabs %}
   <a href="/en/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ tab }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tab }}</a>
   {% endfor %}

   {% if tabs|length > 0 %}
   <hr><a href="/en/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ tabs|first }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Muokkaa lomaketta</a>
   {% endif %}

   {% if tabDone == true %}

   <hr>
   Question details have been submitted<hr>
   <a href="/en/questionform/?formName={{ formName }}&companyId={{ companyId }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">
   Add a new tab</a>



   {% elseif tabDone == false %}

   <hr>
   <form method="post" id="maindiv">
   <label for="text">Form name:</label>
     {% if formName == '' %}
     <input type="text" style="max-width: 600px;" class="form-control" name="formName" required>
     {% elseif formName is not same as('') %}
     <input type="text" style="max-width: 600px;" class="form-control" value="{{ formName }}" name="formName" readonly>
     {% endif %}
   <label for="text">Tab name:</label>
   <input type="text" style="max-width: 600px;" class="form-control" name="tabName" required>
   <label for="text">Company:</label>
   {% if companyId > 0 %}
    <input type="text" style="max-width: 600px; height: 25px;" value="{{ companyName }} (ID: {{ companyId }})" class="form-control" readonly>
    <input type="text" style="display: none;" value="{{ companyId }}" class="form-control" name="companyId" readonly>
   {% else %}
     <select class="form-control" style="max-width: 600px; padding-top: 2px; height: 32px; margin-bottom: 5px;" name="companyId">
     {% for company in companies %}
     <option value="{{ company.id}}">{{company.name}} (ID: {{ company.id }})</option>
     {% endfor %}
     </select>
   {% endif %}
   <hr>
    <div style="max-width: 600px; border: 1px solid gray; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
    <p style="border-bottom: 1px solid gray; margin-bottom: 0px; display: block;">Question-ID: 1</p>
    <label for="text" style="margin-bottom: 0px;">Question:</label>
    <input type="text" style="height: 30px;" class="form-control" name="parents[parent1][content]" required>

    {#<label for="text" style="margin-bottom: 0px;">Ajankohta (kk/vuosi):</label>
    <input type="date" id="targetTime" min="2000-01-01" max="2030-01-01" style="height: 30px; padding-top: 0px;" class="form-control" name="parents[parent1][targetTime]" required>#}

    <label for="text2" style="margin-bottom: 0px;">Faktori:</label>
    <select class="form-control" style="padding-top: 2px; height: 32px; margin-bottom: 5px;" name="parents[parent1][factor]">
    {% for factor in factors %}
    <option value="{{ factor.id}}">{{factor.title_fi}}  (ID: {{ factor.id }})</option>
    {% endfor %}
    </select>

    </div>
    <div id="extras">
    </div>
    <br><button style="display: inline-block; float: left;" type="submit" class="btn btn-default">Submit</button>
    <button style="margin-left: 10px; display: inline-block; float: left;" type="button" class="btn btn-default" onclick="myFunction('test', 'test')">Add a new question</button>
   </form>



   {% endif %}

<br><br><br><br><br><br>

{% endblock %}
