{% extends 'fi.base.html.twig' %}

{% block title%} Uusi kysymys lomakkeen "{{ selectedTab.form_name }}" välilehdelle "{{ selectedTab.tab_name }}" {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    document.querySelector("#targetTime").valueAsDate = new Date();

    function myFunction(name, value) {

    }

    function removeQuestion(questionNumber) {
      //length = length - 1;
      $("#question"+questionNumber).remove();
    }
    </script>
{% endblock %}

{% block body %}
<h4>Uusi kysymys lomakkeen "{{ selectedTab.form_name }}" välilehdelle "{{ selectedTab.tab_name }}"</h4><hr>
Lomakkeen nimi: <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/" style="font-weight: bolder;">{{ selectedTab.form_name }}</a>
<br style="margin-bottom: 3px;">
Lomakkeen yritys: <a href="/fi/company/{{ companyId }}" style="font-weight: bolder;">{{ selectedTab.company_name }}</a><hr>
Muokattava välilehti: <a style="display: inline; color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ selectedTab.tab_name }}</a>
<br style="margin-bottom: 10px;">
 Lomakkeen muut välilehdet:
 {%  for tab in tabs %}
 <a href="/fi/questionform/newquestion/{{ companyId }}/{{ formName }}/{{ tab.tab_name }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>
 {% endfor %}
 <form method="post">
 <table class="table table-striped" style="width: 800px;">
  <tbody>
  <thead><hr>
  <h5>Lisää kysymys välilehdelle:</h5>
        <tr>
        <th><b>Kysymysteksti:</b></th>
        <th><b>Faktori:</b></th>
        <th><b> </b></th>
        </tr>
      </thead>
      <tr>
        <td>
        <input type="text" name="content" style="min-width: 360px; padding-left: 5px; text-align: left;" value="" class="form-control newStyle" required autofocus>
        </td>
        <td>
        <select name="factor" class="form-control" style="padding-top: 2px; width: 280px; height: 32px; margin-bottom: 5px;">

        {% for factor in factors %}

        <option value="{{ factor.id }}">{{ factor.title_fi }} ID: {{ factor.id }}</option>

        {% endfor %}
        </select>
        </td>
        <td> </td>
      </tr>

  </tbody>
  </table>

  <button type="submit" class="btn btn-outline-primary btn-md">Lisää kysymys</button>
  <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ selectedTab.tab_name }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
  </form>

<br><br><br><br><br><br>

{% endblock %}
