{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h2>Welcome again</h2>
        <p class="lead">Welcome to the Carbon Project</p>
    </div>
{% endblock %}
