{% extends 'en.base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
<div style="height: 30px; margin-bottom: 10px; border: 1px solid lightGray; border-radius: 2px;
box-shadow: 1px 1px 10px lightGray; text-align: right; padding-right: 35px;
background-image: url('/images/fin.png'); background-size: 20px 20px; background-repeat: no-repeat; background-position: 99% 4px;">
<div style=""><a href="/fi/">Käytä suomeksi</a></div>
</div>
    <div>
        <h2>Welcome</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
        <p class="lead">{{ username }}</p>
        You are logged in:<br>
        {#<a href="/logout"><button type="button" class="btn btn-outline-primary btn-md">Logout</button></a>#}
        <a href="/logout" data-toggle="tooltip" title="Logout">Log out</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <h1 class="h3 mb-3 font-weight-normal">Nice to meet you, visitor.</h1>
        You can log in:
        <a href="/login" data-toggle="tooltip" title="Login">Login</a><br><br>
        Or register:
        <a href="/en/register" data-toggle="tooltip" title="Register">Register</a>
        {% endif %}
    </div>
{% endblock %}
