{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h2>Welcome</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
        <p class="lead">{{ username }}</p>
        You are logged in:<br>
        {#<a href="/logout"><button type="button" class="btn btn-outline-primary btn-md">Logout</button></a>#}
        <a href="/logout" data-toggle="tooltip" title="Logout">Log out</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <h1 class="h3 mb-3 font-weight-normal">Nice to meet you, visitor.</h1>
        You can log in:
        <a href="/login" data-toggle="tooltip" title="Login">Login</a><br><br>
        Or register:
        <a href="/register" data-toggle="tooltip" title="Register">Register</a>
        {% endif %}
    </div>
{% endblock %}
