{% extends 'fi.base.html.twig' %}

{% block title%} Tilat {% endblock %}

{% block body %}
 <h2>🏘️ Tilat:</h2><hr>
 <a href="/fi/newproperty"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi tila</button></a>

 {#<a href="/fi/property/createfromxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa tilat ja kuviot XML:stä</a>
 <a href="/fi/property/createfromxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä kaikkien tilojen tuodut kuviot (todo)</a>#}
<hr>
<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Tiloja yhteensä: </b>{{ properties|length }} kpl
</div>
<div class="row">
  <b>Tilojen arvo yhteensä: </b>{{ propertiesSummary.totalValue }}€
</div>
<div class="row">
  <b>Tilojen ala yhteensä: </b>{{ propertiesSummary.totalAreaSum }} ha
</div>
<div class="row">
  <b>Tilojen kuvioiden koko yhteensä : </b>{{ propertiesSummary.totalSizeSum }} m³
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
</div><div class="row">
  <b> </b>
</div></div>

<br><h4>🏘️ Lista tiloista ({{ properties|length }} kpl):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Osoite"><b>📫 Osoite</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Tunnus"><b>ℹ️ Tunnus</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Kuviot"><b>🌳 Kuviot</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Kuviot"><b>🌳 Tuodut kuviot</b></div>
  {#<div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Omistaja"><b>Käyttäjä</b></div>#}
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Omistaja"><b>Omistaja</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title=" "><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for property in properties %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px;">{{ property.address }}</div>
    <div class="col" style="max-width: 800px;">{{ property.identifier }}</div>
    <div class="col" style="max-width: 800px;">{{ property.articles|length }} kuviota</div>
    <div class="col" style="max-width: 800px;">{{ property.importedArticles|length }} kuviota</div>
    {#<div class="col" style="max-width: 800px;">{{ property.username }}</div>#}
    <div class="col" style="max-width: 800px;">{{ property.owner }}</div>
    <div class="col" style="max-width: 800px;"><a href="/fi/property/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä</a>
    <a href="/fi/property/update/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a></div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}

{% endblock %}
