{% extends 'fi.base.html.twig' %}

{% block title%} Tilan{{ " " }}{{ property.address }} tuodut kuviot{% endblock %}

{% block body %}
 <h2>🏘️ Tilan{{ " " }}{{ property.address }} tuotu kuvio </h2><hr>
   <a href="/fi/property/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>

   <a href="/fi/property/{{ property.id }}/importedarticles/{{ importedArticle.id }}/delete" style="display: none;" id="deleteBtnHidden-{{ importedArticle.id }}" class="btn btn-danger">Delete</a>
   <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ importedArticle.id }}" data-name="kuvio (ja mahdolliset tulokset) ID:llä ">Poista</a>

   {#<a href="/fi/property/{{ property.id }}/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a><hr>#}
   <hr>

<form method="post" style="width: 1000px; padding-left: 10px;">
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">ℹ️ Alue:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Pääryhmä:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Kasvupaikka:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Maalaji:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Kehitys- luokka:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Saavutet- tavuus:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Laatu:</div>
  <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Kasvu yht:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Toimen- piteet:</div>
 <div class="col" style="max-width: 800px; font-size: 15px; margin-bottom: 5px; font-weight: bolder; max-height: 50px;">Päivämäärä:</div>
 </div>
 <div class="row" style="padding-top: 10px; padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px; padding-top: 0px;">
    <input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.area }}" name="importedArticle[area]" class="form-control newStyle" required>
   </div>
   <div class="col" style="max-width: 800px; padding-top: 0px;">
     <select class="form-control newStyle" style="font-size: 12px;" name="importedArticle[mainclass]">
     <option {% if importedArticle.mainclass == 'Metsämaa' %} selected="selected" {% endif %}>Metsämaa</option>
     <option {% if importedArticle.mainclass == 'Kitumaa' %} selected="selected" {% endif %}>Kitumaa</option>
     <option {% if importedArticle.mainclass == 'Joutomaa' %} selected="selected" {% endif %}>Joutomaa</option>
     <option {% if importedArticle.mainclass == 'Muu metsätalousmaa' %} selected="selected" {% endif %}>Muu metsätalousmaa</option>
     <option {% if importedArticle.mainclass == 'Tontti' %} selected="selected" {% endif %}>Tontti</option>
     <option {% if importedArticle.mainclass == 'Maatalousmaa' %} selected="selected" {% endif %}>Maatalousmaa</option>
     <option {% if importedArticle.mainclass == 'Muu maa' %} selected="selected" {% endif %}>Muu maa</option>
     <option {% if importedArticle.mainclass == 'Vesistö' %} selected="selected" {% endif %}>Vesistö</option>
     <option {% if importedArticle.mainclass == 'Metsitettävä maatalousmaa' %} selected="selected" {% endif %}>Metsitettävä maatalousmaa</option>
     </select>
   </div>
   <div class="col" style="max-width: 800px; padding-top: 0px;">
     <select class="form-control newStyle" style="font-size: 12px;" name="importedArticle[growplace]">
     <option {% if importedArticle.growplace == 'Lehto, letto ja lehtomainen suo ja ruohoturvekangas' %} selected="selected" {% endif %}>Lehto, letto ja lehtomainen suo ja ruohoturvekangas</option>
     <option {% if importedArticle.growplace == 'Lehtomainen kangas, vastaava suo ja ruohoturvekangas' %} selected="selected" {% endif %}>Lehtomainen kangas, vastaava suo ja ruohoturvekangas</option>
     <option {% if importedArticle.growplace == 'Tuore kangas, vastaava suo ja mustikkaturvekangas' %} selected="selected" {% endif %}>Tuore kangas, vastaava suo ja mustikkaturvekangas</option>
     <option {% if importedArticle.growplace == 'Kuivahko kangas, vastaava suo ja puolukkaturvekangas' %} selected="selected" {% endif %}>Kuivahko kangas, vastaava suo ja puolukkaturvekangas</option>
     <option {% if importedArticle.growplace == 'Kuiva kangas, vastaava suo ja varputurvekangas' %} selected="selected" {% endif %}>Kuiva kangas, vastaava suo ja varputurvekangas</option>
     <option {% if importedArticle.growplace == 'Karukkokangas, vastaava suo ja jäkäläturvekangas' %} selected="selected" {% endif %}>Karukkokangas, vastaava suo ja jäkäläturvekangas</option>
     <option {% if importedArticle.growplace == 'Kalliomaa ja hietikko' %} selected="selected" {% endif %}>Kalliomaa ja hietikko</option>
     <option {% if importedArticle.growplace == 'Lakimetsä ja tunturi' %} selected="selected" {% endif %}>Lakimetsä ja tunturi</option>
     </select>
   </div>
   <div class="col" style="max-width: 800px; padding-top: 0px;">
     <select class="form-control newStyle" style="font-size: 12px;" name="importedArticle[soiltype]">
     <option {% if importedArticle.soiltype == 'Keskikarkea tai karkea kangasmaa' %} selected="selected" {% endif %}>Keskikarkea tai karkea kangasmaa</option>
     <option {% if importedArticle.soiltype == 'Karkea moreeni' %} selected="selected" {% endif %}>Karkea moreeni</option>
     <option {% if importedArticle.soiltype == 'Karkea lajittunut maalaji' %} selected="selected" {% endif %}>Karkea lajittunut maalaji</option>
     <option {% if importedArticle.soiltype == 'Hienojakoinen kangasmaa' %} selected="selected" {% endif %}>Hienojakoinen kangasmaa</option>
     <option {% if importedArticle.soiltype == 'Hienoainesmoreeni' %} selected="selected" {% endif %}>Hienoainesmoreeni</option>
     <option {% if importedArticle.soiltype == 'Hienojakoinen lajittunut maalaji' %} selected="selected" {% endif %}>Hienojakoinen lajittunut maalaji</option>
     <option {% if importedArticle.soiltype == 'Silttipitoiset maat (hieno hieta ja hiesu sekä vast. moreenit)' %} selected="selected" {% endif %}>Silttipitoiset maat (hieno hieta ja hiesu sekä vast. moreenit)</option>
     <option {% if importedArticle.soiltype == 'Savet (saves ja savimoreeni)' %} selected="selected" {% endif %}>Savet (saves ja savimoreeni)</option>
     <option {% if importedArticle.soiltype == 'Kivinen keskikarkea tai karkea kangasmaa' %} selected="selected" {% endif %}>Kivinen keskikarkea tai karkea kangasmaa</option>
     <option {% if importedArticle.soiltype == 'Kivinen karkea moreeni' %} selected="selected" {% endif %}>Kivinen karkea moreeni</option>
     <option {% if importedArticle.soiltype == 'Kivinen karkea lajittunut maalaji' %} selected="selected" {% endif %}>Kivinen karkea lajittunut maalaji</option>
     <option {% if importedArticle.soiltype == 'Kivinen hienojakoinen kangasmaa' %} selected="selected" {% endif %}>Kivinen hienojakoinen kangasmaa</option>
     <option {% if importedArticle.soiltype == 'Kallio tai kivikko' %} selected="selected" {% endif %}>Kallio tai kivikko</option>
     <option {% if importedArticle.soiltype == 'Turvemaa' %} selected="selected" {% endif %}>Turvemaa</option>
     <option {% if importedArticle.soiltype == 'Saraturve' %} selected="selected" {% endif %}>Saraturve</option>
     <option {% if importedArticle.soiltype == 'Rahkaturve' %} selected="selected" {% endif %}>Rahkaturve</option>
     <option {% if importedArticle.soiltype == 'Puuvaltainen turve' %} selected="selected" {% endif %}>Puuvaltainen turve</option>
     <option {% if importedArticle.soiltype == 'Eroosioherkkä saraturve (von Post luokka yli 5)' %} selected="selected" {% endif %}>Eroosioherkkä saraturve (von Post luokka yli 5)</option>
     <option {% if importedArticle.soiltype == 'Eroosioherkkä rahkaturve (von Post luokka yli 5)' %} selected="selected" {% endif %}>Eroosioherkkä rahkaturve (von Post luokka yli 5)</option>
     <option {% if importedArticle.soiltype == 'Maatumaton saraturve (von Post luokka enintään 5)' %} selected="selected" {% endif %}>Maatumaton saraturve (von Post luokka enintään 5)</option>
     <option {% if importedArticle.soiltype == 'Maatumaton rahkaturve (von Post luokkaenintään 5)' %} selected="selected" {% endif %}>Maatumaton rahkaturve (von Post luokkaenintään 5)</option>
     <option {% if importedArticle.soiltype == 'Multamaa' %} selected="selected" {% endif %}>Multamaa</option>
     <option {% if importedArticle.soiltype == 'Liejumaa' %} selected="selected" {% endif %}>Liejumaa</option>
     </select>
   </div>
   <div class="col" style="max-width: 800px; font-size: 13px; padding-top: 0px;">
     <select class="form-control newStyle" style="font-size: 12px;" name="importedArticle[developmentclass]">
     <option {% if importedArticle.developmentclass == 'A0 - Aukea' %} selected="selected" {% endif %}>A0 - Aukea</option>
     <option {% if importedArticle.developmentclass == 'S0 - Siemenpuumetsikkö' %} selected="selected" {% endif %}>S0 - Siemenpuumetsikkö</option>
     <option {% if importedArticle.developmentclass == 'T1 - Pieni taimikko, alle 1,3 m' %} selected="selected" {% endif %}>T1 - Pieni taimikko, alle 1,3 m</option>
     <option {% if importedArticle.developmentclass == 'T2 - Varttunut taimikko, yli 1,3 m' %} selected="selected" {% endif %}>T2 - Varttunut taimikko, yli 1,3 m</option>
     <option {% if importedArticle.developmentclass == 'Y1 - Ylipuustoinen taimikko' %} selected="selected" {% endif %}>Y1 - Ylipuustoinen taimikko</option>
     <option {% if importedArticle.developmentclass == '02 - Nuori kasvatusmetsikkö' %} selected="selected" {% endif %}>02 - Nuori kasvatusmetsikkö</option>
     <option {% if importedArticle.developmentclass == '03 - Varttunut kasvatusmetsikkö' %} selected="selected" {% endif %}>03 - Varttunut kasvatusmetsikkö</option>
     <option {% if importedArticle.developmentclass == '04 - Uudistuskypsä metsikkö' %} selected="selected" {% endif %}>04 - Uudistuskypsä metsikkö</option>
     <option {% if importedArticle.developmentclass == '05 - Suojuspuumetsikkö' %} selected="selected" {% endif %}>05 - Suojuspuumetsikkö</option>
     <option {% if importedArticle.developmentclass == '06 - Vajaatuottoinen metsikkö' %} selected="selected" {% endif %}>06 - Vajaatuottoinen metsikkö</option>
     <option {% if importedArticle.developmentclass == 'ER - Eri-ikäisrakenteinen metsikkö' %} selected="selected" {% endif %}>ER - Eri-ikäisrakenteinen metsikkö</option>
     </select>
   </div>
   <div class="col" style="max-width: 800px; font-size: 13px; padding-top: 0px;">
    <input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.accessibility }}" name="importedArticle[accessibility]" class="form-control newStyle">
   </div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding-top: 0px;">
   <select class="form-control newStyle" style="font-size: 12px;" name="importedArticle[quality]">
   <option {% if importedArticle.quality == '1 - Kehityskelpoinen, hyvä (oletusarvo)' %} selected="selected" {% endif %}>1 - Kehityskelpoinen, hyvä (oletusarvo)</option>
   <option {% if importedArticle.quality == '2 - Kehityskelpoinen, tyydyttävä: aukkoinen, harva, vähäpuustoinen' %} selected="selected" {% endif %}>2 - Kehityskelpoinen, tyydyttävä: aukkoinen, harva, vähäpuustoinen</option>
   <option {% if importedArticle.quality == '3 - Kehityskelpoinen, tyydyttävä: ylitiheä, hoitamaton' %} selected="selected" {% endif %}>3 - Kehityskelpoinen, tyydyttävä: ylitiheä, hoitamaton</option>
   <option {% if importedArticle.quality == '4 - Kehityskelvoton: aukkoinen, harva, vähäpuustoinen' %} selected="selected" {% endif %}>4 - Kehityskelvoton: aukkoinen, harva, vähäpuustoinen</option>
   <option {% if importedArticle.quality == '5 - Kehityskelvoton: ylitiheä, hoitamaton' %} selected="selected" {% endif %}>5 - Kehityskelvoton: ylitiheä, hoitamaton</option>
   <option {% if importedArticle.quality == '6 - Kehityskelvoton: kasvupaikalle metsänhoidollisesti sopimaton puulaji' %} selected="selected" {% endif %}>6 - Kehityskelvoton: kasvupaikalle metsänhoidollisesti sopimaton puulaji</option>
   <option {% if importedArticle.quality == '7 - Kehityskelvoton: yli-ikäinen' %} selected="selected" {% endif %}>7 - Kehityskelvoton: yli-ikäinen</option>
   <option {% if importedArticle.quality == '8 - Kehityskelvoton: huonokasvuinen, harsittu, jätemetsikkö' %} selected="selected" {% endif %}>8 - Kehityskelvoton: huonokasvuinen, harsittu, jätemetsikkö</option>
   <option {% if importedArticle.quality == '9 - Kehityskelvoton: tuhometsikkö' %} selected="selected" {% endif %}>9 - Kehityskelvoton: tuhometsikkö</option>
   <option {% if importedArticle.quality == 'Ei määritelty' %} selected="selected" {% endif %}>Ei määritelty</option>
   </select>
   </div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding-top: 0px;">
   <input type="text" style="padding-left: 5px; text-align: left; font-size: 12px;" value="{{ importedArticle.totalGrowth }}" name="importedArticle[operations]" class="form-control newStyle" readonly>
   </div>
   <div class="col" style="max-width: 800px; font-size: 12px; padding-top: 0px;">
   <input type="text" style="padding-left: 5px; text-align: left; font-size: 12px;" value="{{ importedArticle.operations }}" name="importedArticle[operations]" class="form-control newStyle">
   </div>
   <div class="col" style="max-width: 800px; padding-top: 5px; font-weight: lighter; font-size: 13px;">{{ importedArticle.dateFi }}</div>
   </div>

<div>
  <div class="row" style="text-align: center; border: 1px solid black; border-top-left-radius: 5px; border-top-right-radius: 5px;">
   <div class="col" style="max-width: 100%;"><b>🌲 Puustotiedot yhteensä: 🌲</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalAge }}" name="importedArticle[totalAge]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalVolume }}" name="importedArticle[totalVolume]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalVolumeHa }}" name="importedArticle[totalVolumeHa]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalLogVolume }}" name="importedArticle[totalLogVolume]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalPulpVolume }}" name="importedArticle[totalPulpVolume]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalDiameter }}" name="importedArticle[totalDiameter]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalLength }}" name="importedArticle[totalLength]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalDensity }}" name="importedArticle[totalDensity]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalBasalarea }}" name="importedArticle[totalBasalarea]" class="form-control newStyle" required></div>
     <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.totalGrowth }}" name="importedArticle[totalGrowth]" class="form-control newStyle" required></div>
     </div>

 <div class="row" style="text-align: center; border: 1px solid black; border-top-left-radius: 5px; border-top-right-radius: 5px;">
  <div class="col" style="max-width: 100%;"><b>🌲 Mänty:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyAge }}" name="importedArticle[mantyAge]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyVolume }}" name="importedArticle[mantyVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyVolumeHa }}" name="importedArticle[mantyVolumeHa]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyLogVolume }}" name="importedArticle[mantyLogVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyPulpVolume }}" name="importedArticle[mantyPulpVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyDiameter }}" name="importedArticle[mantyDiameter]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyLength }}" name="importedArticle[mantyLength]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyDensity }}" name="importedArticle[mantyDensity]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyBasalarea }}" name="importedArticle[mantyBasalarea]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.mantyGrowth }}" name="importedArticle[mantyGrowth]" class="form-control newStyle" required></div>
    </div>

  <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
   <div class="col" style="max-width: 100%;"><b>🌲 Kuusi:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiAge }}" name="importedArticle[kuusiAge]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiVolume }}" name="importedArticle[kuusiVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiVolumeHa }}" name="importedArticle[kuusiVolumeHa]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiLogVolume }}" name="importedArticle[kuusiLogVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiPulpVolume }}" name="importedArticle[kuusiPulpVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiDiameter }}" name="importedArticle[kuusiDiameter]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiLength }}" name="importedArticle[kuusiLength]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiDensity }}" name="importedArticle[kuusiDensity]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiBasalarea }}" name="importedArticle[kuusiBasalarea]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.kuusiGrowth }}" name="importedArticle[kuusiGrowth]" class="form-control newStyle" required></div>
   </div>

 <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
  <div class="col" style="max-width: 100%;"><b>🌲 Rauduskoivu:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuAge }}" name="importedArticle[rauduskoivuAge]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuVolume }}" name="importedArticle[rauduskoivuVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuVolumeHa }}" name="importedArticle[rauduskoivuVolumeHa]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuLogVolume }}" name="importedArticle[rauduskoivuLogVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuPulpVolume }}" name="importedArticle[rauduskoivuPulpVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuDiameter }}" name="importedArticle[rauduskoivuDiameter]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuLength }}" name="importedArticle[rauduskoivuLength]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuDensity }}" name="importedArticle[rauduskoivuDensity]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuBasalarea }}" name="importedArticle[rauduskoivuBasalarea]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.rauduskoivuGrowth }}" name="importedArticle[rauduskoivuGrowth]" class="form-control newStyle" required></div>
    </div>

  <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
   <div class="col" style="max-width: 100%;"><b>🌲 Hieskoivu:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuAge }}" name="importedArticle[hieskoivuAge]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuVolume }}" name="importedArticle[hieskoivuVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuVolumeHa }}" name="importedArticle[hieskoivuVolumeHa]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuLogVolume }}" name="importedArticle[hieskoivuLogVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuPulpVolume }}" name="importedArticle[hieskoivuPulpVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuDiameter }}" name="importedArticle[hieskoivuDiameter]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuLength }}" name="importedArticle[hieskoivuLength]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuDensity }}" name="importedArticle[hieskoivuDensity]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuBasalarea }}" name="importedArticle[hieskoivuBasalarea]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.hieskoivuGrowth }}" name="importedArticle[hieskoivuGrowth]" class="form-control newStyle" required></div>
     </div>

   <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
    <div class="col" style="max-width: 100%;"><b>🌲 Haapa:</b></div>
    </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
    </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaAge }}" name="importedArticle[haapaAge]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaVolume }}" name="importedArticle[haapaVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaVolumeHa }}" name="importedArticle[haapaVolumeHa]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaLogVolume }}" name="importedArticle[haapaLogVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaPulpVolume }}" name="importedArticle[haapaPulpVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaDiameter }}" name="importedArticle[haapaDiameter]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaLength }}" name="importedArticle[haapaLength]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaDensity }}" name="importedArticle[haapaDensity]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaBasalarea }}" name="importedArticle[haapaBasalarea]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.haapaGrowth }}" name="importedArticle[haapaGrowth]" class="form-control newStyle" required></div>
    </div>

  <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
   <div class="col" style="max-width: 100%;"><b>🌲 Harmaaleppä:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaAge }}" name="importedArticle[harmaaleppaAge]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaVolume }}" name="importedArticle[harmaaleppaVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaVolumeHa }}" name="importedArticle[harmaaleppaVolumeHa]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaLogVolume }}" name="importedArticle[harmaaleppaLogVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaPulpVolume }}" name="importedArticle[harmaaleppaPulpVolume]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaDiameter }}" name="importedArticle[harmaaleppaDiameter]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaLength }}" name="importedArticle[harmaaleppaLength]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaDensity }}" name="importedArticle[harmaaleppaDensity]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaBasalarea }}" name="importedArticle[harmaaleppaBasalarea]" class="form-control newStyle" required></div>
    <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.harmaaleppaGrowth }}" name="importedArticle[harmaaleppaGrowth]" class="form-control newStyle" required></div>
     </div>

 <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
  <div class="col" style="max-width: 100%;"><b>🌲 Tervaleppä:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaAge }}" name="importedArticle[tervaleppaAge]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaVolume }}" name="importedArticle[tervaleppaVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaVolumeHa }}" name="importedArticle[tervaleppaVolumeHa]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaLogVolume }}" name="importedArticle[tervaleppaLogVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaPulpVolume }}" name="importedArticle[tervaleppaPulpVolume]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaDiameter }}" name="importedArticle[tervaleppaDiameter]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaLength }}" name="importedArticle[tervaleppaLength]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaDensity }}" name="importedArticle[tervaleppaDensity]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaBasalarea }}" name="importedArticle[tervaleppaBasalarea]" class="form-control newStyle" required></div>
   <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.tervaleppaGrowth }}" name="importedArticle[tervaleppaGrowth]" class="form-control newStyle" required></div>
    </div>

  <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
   <div class="col" style="max-width: 100%;"><b>🌲 Muu havupuu:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
   </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
  background: white;">
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuAge }}" name="importedArticle[havupuuAge]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuVolume }}" name="importedArticle[havupuuVolume]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuVolumeHa }}" name="importedArticle[havupuuVolumeHa]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuLogVolume }}" name="importedArticle[havupuuLogVolume]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuPulpVolume }}" name="importedArticle[havupuuPulpVolume]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuDiameter }}" name="importedArticle[havupuuDiameter]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuLength }}" name="importedArticle[havupuuLength]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuDensity }}" name="importedArticle[havupuuDensity]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuBasalarea }}" name="importedArticle[havupuuBasalarea]" class="form-control newStyle" required></div>
  <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.havupuuGrowth }}" name="importedArticle[havupuuGrowth]" class="form-control newStyle" required></div>
   </div>

 <div class="row" style="text-align: center; border: 1px solid black; margin-top: 5px;">
  <div class="col" style="max-width: 100%;"><b>🌲 Muu lehtipuu:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Ikä:</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/kuvio):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">Tilavuus (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Tukkia (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kuitua (m³/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Läpimitta (cm):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Pituus (metriä):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Runkoluku (kpl/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Ppa (m²/hehtaari):</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;">Kasvu (m³/ha/vuosi):</div>
  </div>
<div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
 background: white;">
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuAge }}" name="importedArticle[lehtipuuAge]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuVolume }}" name="importedArticle[lehtipuuVolume]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuVolumeHa }}" name="importedArticle[lehtipuuVolumeHa]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuLogVolume }}" name="importedArticle[lehtipuuLogVolume]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuPulpVolume }}" name="importedArticle[lehtipuuPulpVolume]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuDiameter }}" name="importedArticle[lehtipuuDiameter]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuLength }}" name="importedArticle[lehtipuuLength]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuDensity }}" name="importedArticle[lehtipuuDensity]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuBasalarea }}" name="importedArticle[lehtipuuBasalarea]" class="form-control newStyle" required></div>
 <div class="col" style="max-width: 800px; padding-top: 0px;"><input type="text" style="padding-left: 5px; text-align: left;" value="{{ importedArticle.lehtipuuGrowth }}" name="importedArticle[lehtipuuGrowth]" class="form-control newStyle" required></div>
  </div>
  </div>

  <div class="row" style="">
   <div class="col" style="max-width: 800px;"><b> </b></div>
   </div>
   <button type="submit" class="btn btn-primary">Päivitä</button>
   <a href="/fi/property/{{ property.id }}/importedarticles/" class="btn btn-info" style="margin-left: 5px;">Peruuta</a>
   </form>
</div><br><br>

{% endblock %}
