{% extends 'fi.base.html.twig' %}

{% block title%} Lähetä kuviotiedot {% endblock %}

{% block body %}

 <h3>Lähetä tilan kuviotiedot</h3>
<br>
<div style="border: 1px solid lightGray; padding: 10px; border-radius: 10px;">
<h5>Lähetä kuviotiedot</h5><hr>

<form method="post" enctype="multipart/form-data">
   <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

   <input type="file" name="xml" required>
   <hr>
   <button type="submit" class="btn btn-primary">Lähetä faktorit</button>
</form>

<div>


<br><br><br><br><br><br>

{% endblock %}
