{% extends 'base.html.twig' %}

{% block title%} Properties {% endblock %}

{% block body %}
 <h2>🏘️ Properties:</h2><hr>
 <a href="/newproperty"><button type="button" class="btn btn-outline-primary btn-md">Add new property</button></a>
<hr>
<h4>ℹ️ Information:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Tiloja yhteensä: </b>{{ properties|length }} kpl
</div>
<div class="row">
  <b>Tilojen arvo yhteensä: </b>{{ propertiesSummary.totalValue }}€
</div>
<div class="row">
  <b>Tilojen ala yhteensä: </b>{{ propertiesSummary.totalAreaSum }} ha
</div>
<div class="row">
  <b>Tilojen kuvioiden koko yhteensä : </b>{{ propertiesSummary.totalSizeSum }} m³
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> {{ propertiesSummary.totalArticleQuantity }} kpl
</div><div class="row">
  <b> </b>
</div></div>

<br><h4>🏘️ List of properties ({{ properties|length }} properties):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Address"><b>📫 Address</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Identifier"><b>ℹ️ Identifier</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Articles"><b>🌳 Articles</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Owner"><b>👨 Owner</b></div>
  <div class="col" style="max-width: 800px;" data-toggle="tooltip" title=" "><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for property in properties %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px;">{{ property.address }}</div>
    <div class="col" style="max-width: 800px;">{{ property.identifier }}</div>
    <div class="col" style="max-width: 800px;">{{ property.articles|length }} articles</div>
    <div class="col" style="max-width: 800px;">{{ property.username }}</div>
    <div class="col" style="max-width: 800px;"><a href="/property/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
    <a href="/property/update/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a></div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}

{% endblock %}
