{% extends 'base.html.twig' %}

{% block title%}Update Property{% endblock %}

{% block body %}

  <h2>🏘️ Property update</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>📫 Address</b></th>
     <th><b>ℹ️ Indentifier</b></th>
     <th><b>👨 Owner</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td data-toggle="tooltip" title="Address">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.address }}" class="form-control newStyle" defaultValue="123" name="address" required autofocus>
         </td>
         <td data-toggle="tooltip" title="Indentifier">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.identifier }}" class="form-control newStyle" defaultValue="123" name="identifier" required autofocus>
         </td>
         <td data-toggle="tooltip" title="Ala (hehtaaria)">
         <div class="col" style="max-width: 800px;">{{ property.username }}</div>
         </td>
         <td data-toggle="tooltip" title="Ala (hehtaaria)">
         <a href="/property/delete/{{ property.id }}" style="display: none;" id="deleteBtnHidden-{{ property.id }}" class="btn btn-danger">Delete</a>
         <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ property.id }}" data-url="{{ property.id }}">
         Delete
         </a>
         </td>
       </tr>
   </tbody>
   <thead style="height: 80px;">
     <tr>
     <th><b data-toggle="tooltip" title="Articles">🌳 Articles ({{ property.articles|length }})</b>
     <a href="/newarticle/property/{{ property.id }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Add new article</a>
     </th>
     </tr>
   </thead>
   <tbody>
   {% if property.articles|length < 1 %}
   <tr style="background: white; border-bottom: 1px solid lightgray;">
     <td>
     <p>No articles</p>
     </td>
     <td>
     <b> </b>
     </td>
     <td>
     <b> </b>
     </td>
     <td>
     <a href="/newarticle/property/{{ property.id }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Add new</a>
     </td>
   </tr>
   {% else %}
     {% for article in property.articles %}
     <tr style="background: white;">
       <td data-toggle="tooltip" title="">
       <b>Size: </b><p>{{ article.area }}m³</p>
       </td>
       <td data-toggle="tooltip" title="">
       <b>Place: </b><p>{{ article.place }}</p>
       </td>
       <td data-toggle="tooltip" title="">
       <b>Height: </b><p>{{ article.height }}m</p>
       </td>
       <td data-toggle="tooltip" title="">
       <div class="col" style="max-width: 800px;"><a href="/property/{{ property.id }}/article/update/{{ article.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a>
       <a href="/property/{{ property.id }}/article/delete/{{ article.id }}" style="display: none;" id="deleteBtnHidden-{{ property.id }}" class="btn btn-danger">Delete</a>
       <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ article.id }}" data-url="{{ article.id }}">
       Delete
       </a>
       </td>
     </tr>
     {% endfor %}
   {% endif %}
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Update property</button>
   <a href="/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Cancel</a>
   </form>

  <br><br><br><br>

{% endblock %}
