{% extends 'fi.base.html.twig' %}

{% block title%} Kyselyn nimi: {{ survey.name }}{% endblock %}

{% block body %}
 <h2>Kyselyn nimi: {{ survey.name }}</h2><hr>
   <a href="/fi/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   <a style="float: right; color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm" id="publishingInfoButton" onclick="showOrHideInfo('publishingInfo')">Näytä julkaisuohjeet</a>
   <a style="float: right; color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm" id="publishingSettingsButton" onclick="showOrHideInfo('publishingSettings')">Julkaise kysely</a>
     <div id="publishingInfoDiv" style="display: none; padding-left: 10px; padding-right: 10px; border: 1px solid lightGray; border-radius: 5px; margin-top: 20px; margin-bottom: 10px;">
     <!-- <h5 style="padding-left: 0px; padding-top: 10px;">Ohjeet hiilisuunnitelman luomiseen:</h5>
     <hr style="margin-top: 0px; margin-bottom: 0px;"> -->
     <b>Kyselyn julkaiseminen:</b><hr style="margin-top: 0px; margin-bottom: 0px;"><p style="display: inline;">Julkaiseminen korvaa jo julkaistun kyselyn (tässä ei voi tulla virhetilannetta, koska kysymykset ja vastaukset on SurveyJS:n palvelimella). Kysely julkaistaan osoitteeseen: <p style="font-style: italic; display: inline;">https://greencarbon.fi/surveys/{{ survey.name }}</p></p>
     </div>
     <div id="publishingSettingsDiv" style="display: none; padding-bottom: 8px; padding-left: 10px; padding-right: 10px; border: 1px solid lightGray; border-radius: 5px; margin-top: 20px; margin-bottom: 10px;">
     <b>Kyselyn julkaiseminen:</b><hr style="margin-top: 0px; margin-bottom: 0px;"><p style="display: inline;"></p>
	 Käytä lisättyä logoa:
     <input type="checkbox" id="includeLogoCheck" style="margin-bottom: 10px;" onclick="settingsFunction()"><br>
     Pyydä käyttäjän email:
     <input type="checkbox" id="includeEmailCheck" style="margin-bottom: 10px;" onclick="settingsFunction()"><br>
     Tee kyselystä staattinen <small>(antaa laskennan tuloksen heti eikä lähetä dataa SurveyJS:lle)</small>:
     <input type="checkbox" id="staticSurveyCheck" style="margin-bottom: 10px;" onclick="settingsFunction()"><br>
     <a href="/fi/functions/publishsurvey/{{ survey.id }}" id="surveyLink" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Julkaise kysely</a>
     <a style="color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm" id="publishingSettingsButton" onclick="showOrHideInfo('publishingSettings')">Peruuta</a>
     </div>
   <hr>
<h4 style="margin-bottom: 20px;">Kysely:</h4>
<div class="row" style="text-align: center; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; max-width: 800px;" data-toggle="tooltip" title=""><b>Nimi</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>surveyId</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>resultId</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>postId</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>Viim. Päivitetty</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>Viim. Julkaistu</b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b></b></div>
 <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b></b></div>
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px;">{{ survey.name }}</div>
   <div class="col" style="padding-top: 5px; max-width: 800px; font-size: 11px;">{{ survey.surveyId }}</div>
   <div class="col" style="padding-top: 5px; max-width: 800px; font-size: 11px;">{{ survey.resultId }}</div>
   <div class="col" style="padding-top: 5px; max-width: 800px; font-size: 11px;">{{ survey.postId }}</div>
   <div class="col" style="max-width: 800px; text-align: center;">{% if survey.lastUpdated is not same as('') %}<div style="font-size: 14px;">{{ (survey.lastUpdated + 10800)|date('d.m.Y H:i:s') }}</div>{% else %}<div style="color: red;">Ei</div>{% endif %}</div>
   <div class="col" style="max-width: 800px; text-align: center;">{% if survey.lastPublished is not same as('') %}<div style="font-size: 14px;">{{ (survey.lastPublished + 10800)|date('d.m.Y H:i:s') }}</div>{% else %}<div style="color: red;">Ei</div>{% endif %}</div>
   <div class="col" style="max-width: 800px; text-align: center;">
   <a href="/fi/functions/updatesurvey/{{ survey.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä data</a></div>
   <div class="col" style="max-width: 800px; text-align: center;">
   <a href="/fi/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Muokkaa tietoja</a></div>
   </div>

   <div class="row" style="margin-top: 10px; text-align: center; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
    <div class="col" style="padding-top: 0px; padding-bottom: 0px; margin-top: 5px; margin-bottom: 5px; max-width: 800px;" data-toggle="tooltip" title=""><b>Julkaisu-URL</b></div>
    <div class="col" style="padding-top: 0px; padding-bottom: 0px; margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 300px;" data-toggle="tooltip" title=""><b></b></div>
    </div>
    <div class="row" style="padding-left: 5px; border: '1px solid gray';
     background: white; border-radius: 5px; margin-top: 5px;">
      <div class="col" style="max-width: 800px; padding-top: 2px; padding-bottom: 0px;">{% if survey.lastPublished is not same as('') %}<a href="https://greencarbon.fi/surveys/{{survey.name }}">https://greencarbon.fi/surveys/{{survey.name }}</a>{% else %}{% endif %}</div>
      <div class="col" style="max-width: 300px; padding-top: 5px; padding-bottom: 0px; text-align: center;">
      {% if survey.lastPublished is not same as('') %}<a href="/fi/functions/updatesurvey/{{ survey.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Poista kyselyn julkaisu</a>{% else %}
      <a href="/fi/functions/updatesurvey/{{ survey.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Poista kyselyn julkaisu</a>{% endif %}</div>
      </div>

   {#<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
   <div class="row">
     <b>Tilan arvo yhteensä </b>1
   </div>
   <div class="row">
     <b>111</b>222
   </div>
   <div class="row">
     <b>333</b>333
   </div>
   <div class="row">
     <b>444</b>444
   </div></div>#}
   <br>
   
   <hr>
   <h5>Nykyinen logo:</h5>
   <div id="logoDiv"></div>
   
<hr><h5>Lähetä uusi logo kyselylle</h5><hr>
 <form action="https://greencarbon.fi/surveys/importlogo.php" method="post" enctype="multipart/form-data">

    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
	<input type="hidden" name="surveyId" value="{{ survey.id }}">
	<input type="hidden" name="surveyName" value="{{ survey.name }}">
    <div>
        <label>File to upload:</label>
        <input type="file" name="upfile">
    </div>
    <button type="submit" class="btn btn-primary" style="font-size: 13px; padding-top: 5px; padding-bottom: 5px;">Lähetä logo</button>
</form><hr><br><br>
   
   
   
   <h5>Kysymykset kyselyllä "{{ survey.name }}":</h5><hr>
   <a style="color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm" id="answersButton" onclick="showOrHideAnswers()">Näytä kaikki vastaukset</a>
   <hr>

   <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 10px;">
 <div class="col-md-10 column" style="margin-top: 5px; margin-bottom: 5px; max-width: 800px;"><b>Kysymysteksti:</b></div>
 <div class="col" style="max-width: 800px;" data-toggle="tooltip" title=""><b></b></div>
 </div>

 {%  for index, question in questions %}

 <div class="row" style="padding-left: 5px; border-bottom: 1px solid lightGray; background: white; margin-top: 5px;">
   <div class="col-md-10 column" style="padding-top: 10px; max-width: 800px;"><b>{{ question.name }}</b></div><br>
   <div class="col-md-10 column" style="padding-top: 10px; max-width: 800px;">{{ question.title }}</div>
   <div class="col" style="max-width: 800px;">
   <a href="/fi/property/update/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä vastaukset</a></div>
   </div>

   {% endfor %}

<hr>

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
	
	fetch('https://greencarbon.fi/surveys/getlogo.php?surveyName='+{{ survey.name|json_encode()|raw }}).then(function (response) {
		return response.text();
	}).then(function (html) {
		$('#logoDiv').html(html);
		const hasImg = html.includes("<img");
		if (hasImg) {
			$("#includeLogoCheck").attr("disabled", false);
		}
	}).catch(function (err) {
		console.warn('Something went wrong.', err);
	});
	
	$("#includeLogoCheck").prop("checked", false);
	$("#includeLogoCheck").attr("disabled", true);
    $("#includeEmailCheck").prop("checked", true);
    $("#staticSurveyCheck").prop("checked", true);
    $("#surveyLink").attr("href", "/fi/functions/publishsurvey/"+{{ survey.id|json_encode()|raw }}+"?includeEmail=true&staticSurvey=true&includeLogo=false")

    function showOrHideInfo(info) {
      if (info == 'publishingInfo') {
       if ($("#publishingInfoButton").text() == "Näytä julkaisuohjeet" ) {
         $("#publishingInfoDiv").css("display", "block");
         $("#publishingInfoButton").text("Piilota julkaisuohjeet");
       } else if ($("#publishingInfoButton").text() == "Piilota julkaisuohjeet" ) {
         $("#publishingInfoDiv").css("display", "none");
         $("#publishingInfoButton").text("Näytä julkaisuohjeet");
       }
     } else if (info == 'publishingSettings') {
       if ($("#publishingSettingsButton").text() == "Julkaise kysely" ) {
         $("#publishingSettingsDiv").css("display", "block");
         $("#publishingSettingsButton").text("Peruuta");
       } else if ($("#publishingSettingsButton").text() == "Peruuta" ) {
         $("#publishingSettingsDiv").css("display", "none");
         $("#publishingSettingsButton").text("Julkaise kysely");
       }
     } else {
       alert('Neither!')
     }
   }

  function settingsFunction() {
    let href = $("#surveyLink").attr("href");

    const urlParts = href.split('?');
    let params = new URLSearchParams(urlParts[1]);
	
	const includeLogoCheck = document.getElementById("includeLogoCheck");
    if (includeLogoCheck.checked == true) {
      params.set('includeLogo', true);
    } if (includeLogoCheck.checked == false) {
      params.delete('includeLogo');
    }

    const includeEmailCheck = document.getElementById("includeEmailCheck");
    if (includeEmailCheck.checked == true) {
      params.set('includeEmail', true);
    } if (includeEmailCheck.checked == false) {
      params.delete('includeEmail');
    }

    const staticSurveyCheck = document.getElementById("staticSurveyCheck");
    if (staticSurveyCheck.checked == true) {
      params.set('staticSurvey', true);
    } if (staticSurveyCheck.checked == false) {
      params.delete('staticSurvey');
    }

    if (params.toString() !== '') {
      newUrl = urlParts[0] + '?' + params.toString();
    } else {
      newUrl = urlParts[0];
    }
    //console.log(newUrl)
    $("#surveyLink").attr("href", newUrl)

  }

  function showOrHideAnswers() {
	 alert('WORKS!!!');
	 /*
      if ($("#instructionsButton").text() == "Näytä ohjeet" ) {
        $("#instructionsDiv").css("display", "block");
        $("#instructionsButton").text("Piilota ohjeet");
      } else if ($("#instructionsButton").text() == "Piilota ohjeet" ) {
        $("#instructionsDiv").css("display", "none");
        $("#instructionsButton").text("Näytä ohjeet");
      }
	  */
    }
    </script>
{% endblock %}
{% endblock %}
