{% extends 'en.base.html.twig' %}

{% block title%} Question {{ question.id }} {% endblock %}

{% block body %}
 <h2>Question {{ question.id }} </h2><hr>
   <a href="/en/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Back to listing</a><hr>
   <h4>Kysymys:</h4><hr style="margin-top: 0px;">
    <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     <div class="col" style="max-width: 900px; text-align: center;"><b>ℹ️ Content</b></div>
     <div class="col" style="max-width: 400px; text-align: center;"><b>ℹ️ Category</b>

     </div>
     <div class="col" style="max-width: 200px; text-align: center;"><b>ℹ️ Language</b></div>
     <div class="col" style="max-width: 100px; text-align: center;"><b>ℹ️ ID</b></div>
     {#<div class="col" style="max-width: 800px;"><b>Users</b></div>#}
     <div class="col" style="max-width: 800px;"><b> </b></div>
     {#<div class="col">✎/✖</div>#}
     </div>

     <div class="row" style="padding-left: '5px'; border: '1px solid gray';
      background: white; border-radius: 5px; margin-top: 5px;">
       <div class="col" style="max-width: 900px;">{{ question.content }}</div>
       <div class="col" style="max-width: 400px; text-align: center;">{% if question.category == 'transportation' %}
        Transportation
       {% elseif question.category == 'recycling' %}
        Recycling
       {% elseif question.category == 'electricity' %}
        Electricity
       {% else %}
        Other
       {% endif %}</div>
       <div class="col" style="max-width: 200px; text-align: center;">
       {% if question.language == 'english' %}
        English
       {% elseif question.language == 'finnish' %}
        Finnish
       {% else %}
        Other
       {% endif %}</div>
       <div class="col" style="max-width: 100px; text-align: center;">{{ question.id }}</div>
       {#<div class="col" style="max-width: 800px;">321</div>>#}
       <div class="col" style="max-width: 800px;"><a href="/en/question/update/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update question</a></div>
       {#<div class="col">✎/✖</div>#}
       </div>
<hr>

{% endblock %}
