{% extends 'fi.base.html.twig' %}

{% block title%} Kysymykset {% endblock %}

{% block javascripts %}
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }
    </script>
{% endblock %}

{% block body %}
 <h2>Kysymykset:</h2><hr>
 <a href="/fi/newquestion"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi kysymys</button></a>
<hr>

{#<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> 123kpl
</div><div class="row">
  <b> </b>
</div></div>#}

<h4>Lista kysymyksistä ({{ allQuestionsLength }} yhteensä):</h4>
{% if questions|length > 0 %}
 <small>Näytetään {{ questions|length }} tällä sivulla, eli: {{ currentPageQuestionsFirst }}-{{ currentPageQuestionsLast }}/{{ allQuestionsLength }}</small>
{% endif %}<hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 900px; text-align: center;"><b>ℹ️ Sisältö</b></div>
  <div class="col" style="max-width: 400px; text-align: center;"><b>ℹ️ Kategoria</b>
  <form method="GET" style="display: inline;">
      <select style="border: 1px solid lightGray; border-radius: 5px;" name='filteredBy' onchange='myFunction(this.name, this.value)'>
           <option value='all'>
           {% if filteredBy == '' %}
            Valitse
           {% elseif filteredBy == 'transportation' %}
            Kuljetus
           {% elseif filteredBy == 'recycling' %}
            Kierrätys
           {% elseif filteredBy == 'electricity' %}
            Sähkö
           {% elseif filteredBy == 'all' %}
            Kaikki
           {% endif %}</option>
           {% if filteredBy is not same as('transportation') %}<option value='transportation'>Kuljetus</option>{% endif %}
           {% if filteredBy is not same as('recycling') %}<option value='recycling'>Kierrätys</option>{% endif %}
           {% if filteredBy is not same as('electricity') %}<option value='electricity'>Sähkö</option>{% endif %}
           {% if filteredBy is not same as('all') %}<option value='all'>Kaikki</option>{% endif %}
      </select>
  </form>
  </div>
  <div class="col" style="max-width: 200px; text-align: center;"><b>ℹ️ Kieli</b>
  <form method="GET" style="display: inline;">
      <select style="border: 1px solid lightGray; border-radius: 5px;" name='language' onchange='myFunction(this.name, this.value)'>
           <option value='all'>
           {% if language == '' %}
            Valitse
           {% elseif language == 'english' %}
            English
           {% elseif language == 'finnish' %}
            Suomi
           {% elseif language == 'all' %}
            Kaikki
           {% endif %}</option>
           {% if language is not same as('english') %}<option value='english'>Englanti</option>{% endif %}
           {% if language is not same as('finnish') %}<option value='finnish'>Suomi</option>{% endif %}
           {% if language is not same as('all') %}<option value='all'>Kaikki</option>{% endif %}
      </select>
  </form>
  </div>
  <div class="col" style="max-width: 100px; text-align: center;"><b>ℹ️ ID</b></div>
  {#<div class="col" style="max-width: 800px;"><b>Käyttäjät</b></div>#}
  <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>

  {%  for question in questions %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 900px;">{{ question.content }}</div>
    <div class="col" style="max-width: 400px; text-align: center;">{% if question.category == 'transportation' %}
     Kuljetus
    {% elseif question.category == 'recycling' %}
     Kierrätys
    {% elseif question.category == 'electricity' %}
     Sähkö
    {% else %}
     Muu
    {% endif %}</div>
    <div class="col" style="max-width: 200px; text-align: center;">
    {% if question.language == 'english' %}
     Englanti
    {% elseif question.language == 'finnish' %}
     Suomi
    {% else %}
     Muu
    {% endif %}
    </div>
    <div class="col" style="max-width: 100px; text-align: center;">{{ question.id }}</div>
    {#<div class="col" style="max-width: 800px;">321</div>>#}
    <div class="col" style="max-width: 800px;"><a href="/fi/question/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä</a>
    <a href="/fi/question/update/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a></div>
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}
    <hr>
    <div class="navigation">
        {{ knp_pagination_render(questions) }}
    </div><br><br><br>

{% endblock %}
