{% extends 'fi.base.html.twig' %}

{% block title%}Update Article {% endblock %}

{% block body %}

  <h2>Article update</h2>

  <div class="totalContainer" style="margin-top: 5px;">
  <div class="row">
    <b>Property address : </b>{{ property.address }}
  </div>
  <div class="row">
    <b>Property identifier : </b>{{ property.identifier }}
  </div>
  <div class="row">
    <b>Article quantity: </b> {{ property.articles|length }}
  </div>
  <div class="row">
    <a href="/en/property/{{ property.id }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">🏘️ Show property details</a>
  </div></div><hr>

  <a href="/en/article/delete/{{ article.id }}" style="display: none;" id="deleteBtnHidden-{{ article.id }}" class="btn btn-danger">Delete</a>
  <a class="btn btn-danger btn-md delete-company" style="margin-bottom: 10px; color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ article.id }}" data-name="{{ article.id }}">
  Delete
  </a><br>
  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b data-toggle="tooltip" title="Ala (hehtaaria)">Ala</b></th>
     <th><b data-toggle="tooltip" title="Kasvupaikka">Kas.paik.</b></th>
     <th><b data-toggle="tooltip" title="Puun keskipituus (m)">Pituus</b></th>
     <th><b data-toggle="tooltip" title="Puulaji">Puulaji</b></th>
     <th><b data-toggle="tooltip" title="Ikä (vuotta)">Ikä</b></th>
     <th><b data-toggle="tooltip" title="Kehitysluokka">Keh.luok.</b></th>
     <th><b data-toggle="tooltip" title="Mäntytukki (m³)">Mät</b></th>
     <th><b data-toggle="tooltip" title="Kuusitukki (m³)">Kut</b></th>
     <th><b data-toggle="tooltip" title="Muu tukki (m³)">Mut</b></th>
     <th><b data-toggle="tooltip" title="Mäntykuitu (m³)">Mak</b></th>
     <th><b data-toggle="tooltip" title="Kuusikuitu (m³)">Kuk</b></th>
     <th><b data-toggle="tooltip" title="Koivukuitu (m³)">Kok</b></th>
     <th><b data-toggle="tooltip" title="Muu kuitu (m³)">Muk</b></th>
     <th><b data-toggle="tooltip" title="Energiapuu (m³)">Enp</b></th>
     <th><b data-toggle="tooltip" title="Ext"> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td data-toggle="tooltip" title="Ala (hehtaaria)">
         <input type="number" step="0.01" min="0" value="{{ article.area }}" class="form-control newStyle" defaultValue="{{ article.area }}" name="area" required autofocus>
         </td>
         <td data-toggle="tooltip" title="Kasvupaikka">
         <select class="form-control newStyle" name="place">
         <option {% if article.place == 'Lehto' %} selected="selected" {% endif %}>Lehto</option>
         <option {% if article.place == 'OMT' %} selected="selected" {% endif %}>OMT</option>
         <option {% if article.place == 'MT' %} selected="selected" {% endif %}>MT</option>
         <option {% if article.place == 'VT' %} selected="selected" {% endif %}>VT</option>
         <option {% if article.place == 'CT' %} selected="selected" {% endif %}>CT</option>
         <option {% if article.place == 'CIT' %} selected="selected" {% endif %}>CIT</option>
         <option {% if article.place == 'Kitu' %} selected="selected" {% endif %}>Kitu</option>
         <option {% if article.place == 'Jouto' %} selected="selected" {% endif %}>Jouto</option>
         <option {% if article.place == 'Muu' %} selected="selected" {% endif %}>Muu</option></select>
         </td>
         <td data-toggle="tooltip" title="Puun keskipituus (m)">
         <input type="number" step="0.01" min="0" value="{{ article.height }}" class="form-control newStyle" name="height" required>
         </td>
         <td data-toggle="tooltip" title="Puulaji">
         <select class="form-control newStyle" name="sort">
         <option {% if article.sort == 'Kuusi' %} selected="selected" {% endif %}>Kuusi</option>
         <option {% if article.sort == 'Hieskoivu' %} selected="selected" {% endif %}>Hieskoivu</option>
         <option {% if article.sort == 'Mänty' %} selected="selected" {% endif %}>Mänty</option>
         <option {% if article.sort == 'Koivu' %} selected="selected" {% endif %}>Koivu</option></select>
         </td>
         <td data-toggle="tooltip" title="Ikä (vuotta)">
         <input type="number" step="1" min="0" value="{{ article.age }}" class="form-control newStyle" name="age" required>
         </td>
         <td data-toggle="tooltip" title="Kehitysluokka">
         <select class="form-control newStyle" name="development_class">
         <option>S0</option><option>T1</option><option>T2</option><option>Y1</option><option>02</option><option>03</option><option>04</option>
         <option>05</option><option>06</option><option>ER</option></select>
         </td>
         <td data-toggle="tooltip" title="Mäntytukki (m³)">
         <input type="number" step="1" min="0" value="{{ article.mat }}" class="form-control newStyle" name="mat" required>
         </td>
         <td data-toggle="tooltip" title="Kuusitukki (m³)">
         <input type="number" step="1" min="0" value="{{ article.kut }}" class="form-control newStyle" name="kut" required>
         </td>
         <td data-toggle="tooltip" title="Muu tukki (m³)">
         <input type="number" step="1" min="0" value="{{ article.mut }}" class="form-control newStyle" name="mut" required>
         </td>
         <td data-toggle="tooltip" title="Mäntykuitu (m³)">
         <input type="number" step="1" min="0" value="{{ article.mak }}" class="form-control newStyle" name="mak" required>
         </td>
         <td data-toggle="tooltip" title="Kuusikuitu (m³)">
         <input type="number" step="1" min="0" value="{{ article.kut }}" class="form-control newStyle" name="kuk" required>
         </td>
         <td data-toggle="tooltip" title="Koivukuitu (m³)">
         <input type="number" step="1" min="0" value="{{ article.kok }}" class="form-control newStyle" name="kok" required>
         </td>
         <td data-toggle="tooltip" title="Muu kuitu (m³)">
         <input type="number" step="1" min="0" value="{{ article.muk }}" class="form-control newStyle" name="muk" required>
         </td>
         <td data-toggle="tooltip" title="Energiapuu (m³)">
         <input type="number" step="1" min="0" value="{{ article.enp }}" class="form-control newStyle" name="enp" required>
         </td>
         <td> </td>
       </tr>
   </tbody>
   </table>
   <hr>
   <button type="submit" class="btn btn-outline-primary btn-md">Update article</button>
   <a href="/en/property/" class="btn btn-info">Cancel</a>
   </form>

{% endblock %}
