{% extends 'fi.base.html.twig' %}

{% block title%} Faktorien päivitys {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Faktorien päivitys</h3>
<br>
<div style="border: 1px solid lightGray; padding: 10px; border-radius: 10px;">
{% if not showNewFactors %}<h5>Faktorien päivitys</h5>{% endif %}<hr>

{% if not showNewFactors %}
<form method="post" enctype="multipart/form-data">
   <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

   <div>Lähetä täyttämäsi CSV-tiedosto päivitetyillä faktoreilla.<br><br>
   <h5 style="padding-bottom: 0px;">Ohjeistus:</h5>
   <b>Päivitys faktorille:</b> Poista "last_updated" faktorilta (muutosten lisäksi)<br>
   <b>Uusi faktori:</b> Älä laita ID:tä ja jätä "last_updated" tyhjäksi<br>
   <b>Vanha faktori:</b> Älä tee mitään muutoksia riville<br><br>
   <input type="file" name="xml">
   <hr>
   <button type="submit" class="btn btn-primary">Lähetä faktorit</button>
</form>
{% else %}

<form method="post">

<h5>Uudet päästötuotteet </h5><hr style="margin-top: 0px;">
 <div class="row" style="margin-left: 5px; width: 1080px; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>Nimi (suomi)</b></div>
  <div class="col" style="max-width: 800px;"><b>Nimi (englanti)</b></div>
  <div class="col" style="max-width: 800px;"><b>Arvo</b></div>
  <div class="col" style="max-width: 800px;"><b>Yksikkö</b></div>
  <div class="col" style="max-width: 800px;"><b>Lähde</b></div>
  <div class="col" style="max-width: 800px;"><b>Viite</b></div>
  <div class="col" style="max-width: 800px;"><b>Viim. päiv.</b></div>
  </div>
{%  for index, factor in newFactors %}
<div class="row" style="margin-left: 5px; width: 1080px; padding-left: '5px'; border: '1px solid gray';
 background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_fi }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][title_fi]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_en }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][title_en]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.value }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][value]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.measure }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][measure]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.source }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][source]" autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.reference_id }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][reference_id]" autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.last_updated }}" class="form-control newStyle" name="newfactors[factor{{ index+1 }}][last_updated]" required readonly></div>
  </div>
{% endfor %}
<br>

<h5>Päivitettävät päästötuotteet </h5><hr style="margin-top: 0px;">
 <div class="row" style="margin-left: 5px; width: 1080px; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>Nimi (suomi)</b></div>
  <div class="col" style="max-width: 800px;"><b>Nimi (englanti)</b></div>
  <div class="col" style="max-width: 800px;"><b>Arvo</b></div>
  <div class="col" style="max-width: 800px;"><b>Yksikkö</b></div>
  <div class="col" style="max-width: 800px;"><b>Lähde</b></div>
  <div class="col" style="max-width: 800px;"><b>Viite</b></div>
  <div class="col" style="max-width: 800px;"><b>Viim. päiv.</b></div>
  </div>
{%  for index, factor in updatedFactors %}
<div class="row" style="margin-left: 5px; width: 1080px; padding-left: '5px'; border: '1px solid gray';
 background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="display: none; max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.id }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][id]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_fi }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][title_fi]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_en }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][title_en]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.value }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][value]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.measure }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][measure]" required autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.source }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][source]" autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.reference_id }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][reference_id]" autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.last_updated }}" class="form-control newStyle" name="updatedFactors[factor{{ index+1 }}][last_updated]" required readonly></div>
  </div>
{% endfor %}
<br>

<h5>Vanhat päästötuotteet </h5><hr style="margin-top: 0px;">
 <div class="row" style="margin-left: 5px; width: 1080px; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>Nimi (suomi)</b></div>
  <div class="col" style="max-width: 800px;"><b>Nimi (englanti)</b></div>
  <div class="col" style="max-width: 800px;"><b>Arvo</b></div>
  <div class="col" style="max-width: 800px;"><b>Yksikkö</b></div>
  <div class="col" style="max-width: 800px;"><b>Lähde</b></div>
  <div class="col" style="max-width: 800px;"><b>Viite</b></div>
  <div class="col" style="max-width: 800px;"><b>Viim. päiv.</b></div>
  </div>
{%  for index, factor in oldFactors %}
<div class="row" style="margin-left: 5px; width: 1080px; padding-left: '5px'; border: '1px solid gray';
 background: white; border-radius: 5px; margin-top: 5px;">
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_fi }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][title_fi]" readonly autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.title_en }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][title_en]" readonly autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.value }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][value]" readonly autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.measure }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][measure]" readonly autofocus></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.source }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][source]" readonly></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.reference_id }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][reference_id]" readonly></div>
  <div class="col" style="max-width: 800px;"><input type="text" style="min-width: 150px; text-align: left; padding-left: 5px;" value="{{ factor.last_updated }}" class="form-control newStyle" name="oldFactors[factor{{ index+1 }}][last_updated]" readonly></div>
  </div>
{% endfor %}

<button type="submit" class="btn btn-outline-primary btn-md">Päivitä päästötuotteet</button>
<a href="/fi/factor" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
</form>

{% endif %}

<div>


<br><br><br><br><br><br>

{% endblock %}
