{% extends 'en.base.html.twig' %}

{% block title%} Form answers {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
      $("#answeredBtn").click(function() {
        if ($('#answeredBtn')[0].name === "hidden") {
          $("#notAnsweredDiv").css("display", "block");
          $("#answeredBtn").text("Hide not replied questions");
          $('#answeredBtn')[0].name = "visible";
        } else if ($('#answeredBtn')[0].name === "visible") {
          $("#notAnsweredDiv").css("display", "none");
          $("#answeredBtn").text("Show not replied questions");
          $('#answeredBtn')[0].name = "hidden";
        }
      });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Form {{ formName }} answers </h3>
 <hr><a href="/en/company/{{ companyId }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Back to company details</a><hr>
 Total questions on form: <b>{{ answers|length + noAnswers|length }}</b><br>
 Answers: <b>{{ answers|length }}</b><br>
 Questions without answers: <b>{{ noAnswers|length }}</b><br>
 {% if noAnswers|length > 0 %}
 <button id="answeredBtn" class="btn btn-info btn-sm" style="margin-top: 5px;" name="hidden">Show not replied questions</button>
 {% endif %}
 <hr>

<div id="notAnsweredDiv" style="display: none; max-width: 900px; margin-bottom: 20px; border: 0px solid orange;">
<h5>Questions without answers on the form:</h5><hr>
{%  for notAnsweredTab in notAnsweredTabsArray %}
<div style="border: 1px solid black; padding: 8px; margin-bottom: 5px; box-shadow: 5px 5px 5px lightGray; border-radius: 5px;">
 <p style="display: inline; color: #6495ED; margin: 0px; padding: 0px;"><b>Välilehti: </b>{{ notAnsweredTab.tab_name }}</p>
 {% if app.user and app.user.role == 'super-user' %}
 <a href="/en/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ notAnsweredTab.tab_name }}/" style="display: block; float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Edit form tab</a>
 {% endif %}
 <a href="/en/questionform/answer/{{ companyId }}/{{ formName }}/{{ notAnsweredTab.tab_name }}/" style="display: block; float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Reply to form questions</a>
 <hr style="margin-bottom: 5px;">
   {%  for question in notAnsweredTab.questions %}
    <b>Question:</b> {{ question.content }}<br>
    <b>Question ID:</b> {{ question.id }}<br>
    <b>Question target time:</b> {{ question.targetTimeFi }}<hr style="margin-top: 5px; margin-bottom: 5px;">
   {% endfor %}
   </div>
{% endfor %}
</div>

<h5 style="margin-bottom: 15px;">Answered question on the form:</h5>
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 50px;"><b>ℹ️ ID</b></div>
 <div class="col" style="max-width: 250px; min-width: 250px;"><b>ℹ️ Question content</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Target time</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Answer (value)</b></div>
 <div class="col" style="max-width: 200px;"><b>ℹ️ Tab</b>
 <form method="GET" style="display: inline;">
     <select style="border: 1px solid lightGray; border-radius: 5px;" name='filteredBy' onchange='myFunction(this.name, this.value)'>
          {% if filteredBy is same as('all') %}
            <option value='all'>Choose</option>
          {% endif %}
          {% if filteredBy is not same as('all') %}
            <option value={{ filteredBy }}>{{ filteredBy }}</option>
          {% endif %}
          {%  for answeredTab in answeredTabsArray %}
              {% if filteredBy is not same as(answeredTab) %}
                <option value={{ answeredTab }}>{{ answeredTab }}</option>
              {% endif %}
          {% endfor %}
          {% if filteredBy is not same as('all') %}
            <option value='all'>All</option>
          {% endif %}
     </select>
 </form>
 </div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Answer ID</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Answered at</b></div>
 </div><hr style="margin-bottom: 0px;">


 {%  for answer in answersPaginated %}

  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 50px;">{{ answer.id }}</div>
    <div class="col" style="max-width: 250px; min-width: 250px;">{{ answer.content }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.targetTimeFi }}</div>
    <div class="col" style="max-width: 150px;"><b>{{ answer.answer }}</b></div>
    <div class="col" style="max-width: 200px;">{{ answer.tab_name }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.question_id }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.timeFi }}</div>
    </div>


 {% endfor %}

 <div class="navigation">
     {{ knp_pagination_render(answersPaginated) }}
 </div>

<br><br><br><br><br><br>

{% endblock %}
