{% extends 'fi.base.html.twig' %}

{% block title%} Lomakkeen tulokset {% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>

    var jsonedDatasets = "{{ jsonedDatasets }}";
    var newJsonedDatasets = jsonedDatasets.replace(/&quot;/g, '"');

    var jsonedLabels = "{{ jsonedLabels }}";
    var newJsonedLabels = jsonedLabels.replace(/&quot;/g, '"');

    var jsonedDatasets1 = "{{ jsonedDatasets1 }}";
    var newJsonedDatasets1 = jsonedDatasets1.replace(/&quot;/g, '"');
    const newArray = JSON.parse(newJsonedDatasets1);

    /*
    let allValues = [];
    for (var i in newArray) {
        allValues.push(newArray[i].data);
    }
    */
    const allNumbers = newArray.flatMap(({ data }) => data);
    const verticalMax = Math.max.apply(Math, allNumbers);

    var options = {
      type: 'line',
      data: {
        labels: JSON.parse(newJsonedLabels),
        datasets: JSON.parse(newJsonedDatasets)
      },
         options: {
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                }
            }
    	}
    }

    var ctx = document.getElementById('chartJSContainer').getContext('2d');
    new Chart(ctx, options);


    var options = {
            chart: {
                height: 350,
                type: 'line',
                shadow: {
                    enabled: true,
                    color: '#000',
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                },
                toolbar: {
                    show: false
                }
            },
            //colors: ['#77B6EA', '#545454', '#100232', '#99CBAF'],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth'
            },
            series: JSON.parse(newJsonedDatasets1),
            title: {
                text: 'Average High & Low Temperature',
                align: 'left'
            },
            grid: {
                borderColor: '#e7e7e7',
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            markers: {

                size: 6
            },
            xaxis: {
                categories: JSON.parse(newJsonedLabels),
                title: {
                    text: 'Time'
                }
            },
            yaxis: {
                title: {
                    text: 'tCO2 eq'
                },
                //min: 5,
                //max: Math.round(verticalMax + 1)
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true,
                offsetY: -25,
                offsetX: -5
            }
        }

        var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
        );

        chart.render();

    </script>
{% endblock %}

{% block body %}

<h4>Lomakkeen tulokset linjakaaviona</h4>
<hr><a href="/fi/questionresults/{{ companyId }}/{{ formName }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Palaa tuloksiin</a>
<hr>

<div style="border: 1px solid gray; width: 700px;">
   <canvas id="chartJSContainer"></canvas>
 </div>

 <div class="totalContainer" style="background: white; width: 680px; margin-left: 5px; padding: 10px; box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
 <div class="row">
   <b style="color: cornflowerblue;">Kokonaispäästöt välilehtien mukaan: </b>
 </div>
 {% for item in tabNamesAndTotalSumsArray %}
 <div class="row" style="display: block; padding-top: 5px; padding-bottom: 3px; padding-left: 10px; border: 1px solid gray; border-radius: 5px; box-shadow: 1px 1px 10px lightGray;">
   <p style="font-weight: bolder; display: inline; padding: 0px; margin: 0px;">Välilehti:</p> <a href="/fi/questionresults/{{ companyId }}/{{ formName }}/{{ item.tabName }}/" style="text-decoration: underline; font-weight: bolder;">{{ item.tabName }}</a> <br>
   <p style="font-weight: bolder; display: inline; padding: 0px; margin: 0px;">Kokonaispäästöt:</p> {{ item.totalSum }} tCO2 (eq)
 </div>
 {% endfor %}</div>

 <hr>

 <div id="chart" style="border: 1px solid gray; width: 700px;">
</div>

<div class="totalContainer" style="background: white; width: 680px; margin-left: 5px; padding: 10px; box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b style="color: cornflowerblue;">Kokonaispäästöt välilehtien mukaan: </b>
</div>
{% for item in tabNamesAndTotalSumsArray %}
<div class="row" style="display: block; padding-top: 5px; padding-bottom: 3px; padding-left: 10px; border: 1px solid gray; border-radius: 5px; box-shadow: 1px 1px 10px lightGray;">
  <p style="font-weight: bolder; display: inline; padding: 0px; margin: 0px;">Välilehti:</p> <a href="/fi/questionresults/{{ companyId }}/{{ formName }}/{{ item.tabName }}/" style="text-decoration: underline; font-weight: bolder;">{{ item.tabName }}</a> <br>
  <p style="font-weight: bolder; display: inline; padding: 0px; margin: 0px;">Kokonaispäästöt:</p> {{ item.totalSum }} tCO2 (eq)
</div>
{% endfor %}</div>

<br><br><br><br><br><br>

{% endblock %}
