{% extends 'fi.base.html.twig' %}

{% block title%} Lomakkeen tulokset {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
      $("#answeredBtn").click(function() {
        if ($('#answeredBtn')[0].name === "hidden") {
          $("#notAnsweredDiv").css("display", "block");
          $("#answeredBtn").text("Piilota vastaamattomat kysymykset");
          $('#answeredBtn')[0].name = "visible";
        } else if ($('#answeredBtn')[0].name === "visible") {
          $("#notAnsweredDiv").css("display", "none");
          $("#answeredBtn").text("Näytä vastaamattomat kysymykset");
          $('#answeredBtn')[0].name = "hidden";
        }
      });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Lomakkeen {{ formName }} tulokset </h3>
 <hr><a href="/fi/company/{{ companyId }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin yrityksen tietoihin</a><hr>
 Kysymyksiä lomakkeella yhteensä: <b>{{ answers|length + noAnswers|length }}</b><br>
 Vastauksia: <b>{{ answers|length }}</b><br>
 Vastaamattomia kysymyksiä lomakkeella: <b>{{ noAnswers|length }}</b><br>
 {% if noAnswers|length > 0 %}
 <button id="answeredBtn" class="btn btn-info btn-sm" style="margin-top: 5px;" name="hidden">Näytä vastaamattomat kysymykset</button>
 {% endif %}
 <hr>

<div id="notAnsweredDiv" style="display: none; max-width: 900px; margin-bottom: 20px; border: 0px solid orange;">
<h5>Vastaamatta olevat kysymykset lomakkeella:</h5><hr>
{%  for notAnsweredTab in notAnsweredTabsArray %}
<div style="border: 1px solid black; padding: 8px; margin-bottom: 5px; box-shadow: 5px 5px 5px lightGray; border-radius: 5px;">
 <p style="display: inline; color: #6495ED; margin: 0px; padding: 0px;"><b>Välilehti: </b>{{ notAnsweredTab.tab_name }}</p>
 {% if app.user and app.user.role == 'super-user' %}
 <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ notAnsweredTab.tab_name }}/" style="display: block; float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Muokkaa välilehteä</a>
 {% endif %}
 <a href="/fi/questionform/answer/{{ companyId }}/{{ formName }}/{{ notAnsweredTab.tab_name }}/" style="display: block; float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Siirry vastaamaan välilehdelle</a>
 <hr style="margin-bottom: 5px;">
   {%  for question in notAnsweredTab.questions %}
    <b>Kysymys:</b> {{ question.content }}<br>
    <b>Kysymyksen ID:</b> {{ question.id }}<br>
    <b>Kysymyksen ajankohta:</b> {{ question.targetTimeFi }}<hr style="margin-top: 5px; margin-bottom: 5px;">
   {% endfor %}
   </div>
{% endfor %}
</div>

<h5 style="margin-bottom: 15px;">Vastatut kysymykset lomakkeella:</h5>
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 50px;"><b>ℹ️ ID</b></div>
 <div class="col" style="max-width: 250px; min-width: 250px;"><b>ℹ️ Kysymysen sisältö</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Ajankohta</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Vastaus (arvo)</b></div>
 <div class="col" style="max-width: 200px;"><b>ℹ️ Välilehti</b>
 <form method="GET" style="display: inline;">
     <select style="border: 1px solid lightGray; border-radius: 5px;" name='filteredBy' onchange='myFunction(this.name, this.value)'>
          {% if filteredBy is same as('all') %}
            <option value='all'>Valitse</option>
          {% endif %}
          {% if filteredBy is not same as('all') %}
            <option value={{ filteredBy }}>{{ filteredBy }}</option>
          {% endif %}
          {%  for answeredTab in answeredTabsArray %}
              {% if filteredBy is not same as(answeredTab) %}
                <option value={{ answeredTab }}>{{ answeredTab }}</option>
              {% endif %}
          {% endfor %}
          {% if filteredBy is not same as('all') %}
            <option value='all'>Kaikki</option>
          {% endif %}
     </select>
 </form>
 </div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Vastauksen ID</b></div>
 <div class="col" style="max-width: 150px;"><b>ℹ️ Vastattu</b></div>
 </div><hr style="margin-bottom: 0px;">


 {%  for answer in answersPaginated %}

  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 50px;">{{ answer.id }}</div>
    <div class="col" style="max-width: 250px; min-width: 250px;">{{ answer.content }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.targetTimeFi }}</div>
    <div class="col" style="max-width: 150px;"><b>{{ answer.answer }}</b></div>
    <div class="col" style="max-width: 200px;">{{ answer.tab_name }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.question_id }}</div>
    <div class="col" style="max-width: 150px;">{{ answer.timeFi }}</div>
    </div>


 {% endfor %}

 <div class="navigation">
     {{ knp_pagination_render(answersPaginated) }}
 </div>

<br><br><br><br><br><br>

{% endblock %}
