<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
    <style>
    body {
      background-color: #fcfcfc;;
    }
    .container {
      margin-top: 20px;
      margin-left: 60px;
      background-color: white;
    }
    .totalContainer {
      background: #fcfcfc;
      border: 1px solid lightGray;
      border-radius: 2px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .totalContainer .row {
      border-bottom: 1px solid lightGray;
      padding-left: 5px;
      margin-right: 15px;
      margin: 0px;
    }
    .totalContainer .row:last-child {
      border: 0px;
    }
    .col {
      color: black;
      margin: 0px;
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: 0px solid black;
      min-width: 75px;
      max-width: 75px;
    }
    .trimText{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .newStyle {
      background: white;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      max-width: 80px;
    }
    b {
      font-weight: bold;
    }
    .navigation {
      font-family: verdana;
      font-size: 15px;
      font-weight: light;
    }
    .navigation .current {
      color: black;
      padding-left: 10px;
      padding-right: 10px;
    }
    .navigation .page > a {
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .page > a:hover {
      background-color: lightBlue;
    }
    .navigation .first > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .first > a:hover {
      background-color: lightBlue;
    }
    .navigation .previous > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .previous > a:hover {
      background-color: lightBlue;
    }
    .navigation .next > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .next > a:hover {
      background-color: lightBlue;
    }
    .navigation .last > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .last > a:hover {
      background-color: lightBlue;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/en/">Front page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <div class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/en/welcome">Welcome<span class="sr-only">(current)</span></a>
        </li>
        {#<li class="nav-item">
          <a class="nav-link" href="/en/property">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/newproperty">➕ Add property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/company">Companies</a>
        </li>#}
        {#<<li class="nav-item">
          <a class="nav-link" href="/en/question">Questions</a>
        </li>#}
        {#<li class="nav-item">
          <a class="nav-link" href="/en/factor">Factors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/questionform">New form</a>
        </li>
        {% if app.user and app.user.role == 'super-user' %}
        <li class="nav-item">
          <a class="nav-link" href="/en/manage/profiles">Users</a>
        </li>
        {% endif %}#}
        {#<li class="nav-item">
          <a class="nav-link" href="/article">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newarticle">Add article</a>
        </li>#}
      </div>

      <div class="navbar-nav">
        <li class="nav-item dropdown" data-toggle="tooltip" data-placement="left" title="Profiilin asetuksista voit vaihtaa käyttökieltä pysyvästi.">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language</a>
          <div class="dropdown-menu pull-right" style="height: 0px;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/en/" style="background: white; text-align: center; padding-left: 30px; border: 1px solid gray; border-radius: 5px; background-image: url('/images/uk.png'); background-size: 40px 40px; background-repeat: no-repeat;">English</a>
            <a class="dropdown-item" href="/fi/" style="background: white; text-align: center; padding-left: 25px; border: 1px solid gray; border-radius: 5px; background-image: url('/images/fin.png'); background-size: 40px 40px; background-repeat: no-repeat;">Suomi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i>
            {% if app.user %}
                {{ app.user.username }}
            {% elseif not app.user %}
                Profile
            {% endif %}
          </a>
          {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
          <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/fi/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
          <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/fi/login">Log in</a>
            <a class="dropdown-item" href="/fi/register">Register</a>
          </div>
          {% endif %}
        </li>
      </div>
    </div>
  </nav>


    <main role="main" class="container main">

      {% include 'flash_messages.html.twig' %}

      {% block body %}{% endblock %}
    </main>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script>
            $('.dropdown-toggle').dropdown();
            $('[data-toggle="tooltip"]').tooltip();
            $(document).ready(function () {

              var itemId = 0;
              var itemName = '';
              $('.delete-company').click(function () {
                  var newId = $(this).attr('data-id');
                  var newItemName = $(this).attr('data-name');

                  itemName = newItemName;
                  itemId = newId;

                  document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Delete "+newItemName+" "+newId+"?</p>";

              });

              $('#deleteBtn').click(function (event) {
                document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
                  var itemId = 0;
                  var itemName = '';
                });
                /*
                  const deleteUrl = window.location + '/delete/' + articleId
                  fetch(deleteUrl).then(response => {
                  location.replace(window.location)
                })*/
              });
            });

            function showOrHideTreeinfo(articleParent) {
              if ($("#treeInfoButton-"+articleParent).text() == "Show tree info" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "inline");
                $("#treeInfoButton-"+articleParent).text("Hide tree info");
              } else if ($("#treeInfoButton-"+articleParent).text() == "Hide tree infot" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "none");
                $("#treeInfoButton-"+articleParent).text("Show tree info");
              }
            }
        </script>
    {% endblock %}

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Delete</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
