{% block flash_messages %}
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}

      {% if type == 'alert' %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert" style="background: #FF8282;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ message | raw }}
        </div>
      {% elseif type == 'notice' %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert" style="background: lightBlue;">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ message | raw }}
        </div>
      {% endif %}


    {% endfor %}
  {% endfor %}
{% endblock %}
